<div class="my-secrets">
  <ng-container
    *ngIf="(loaderService.isLoading$ | async) === false && secrets?.length > 0"
  >
    <div
      class="my-secrets-header d-flex ion-align-items-center"
      [class.ion-justify-content-between]="showTitle"
      [class.ion-justify-content-end]="!showTitle"
    >
      <h2 *ngIf="showTitle">My Secrets</h2>
      <div class="d-flex ion-align-items-center right-side">
        <p (click)="onReveal()" class="cursor-pointer">{{ isRevealed ? "Reset" : "Reveal All" }}</p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="(loaderService.isLoading$ | async) === true">
    <div
      class="my-secrets-header skeleton-header d-flex ion-align-items-center"
      [class.ion-justify-content-between]="showTitle"
      [class.ion-justify-content-end]="!showTitle"
    >
      <h2 *ngIf="showTitle"></h2>
      <p></p>
    </div>
  </ng-container>

  <ng-container *ngIf="(loaderService.isLoading$ | async) === true">
    <ion-card
      class="skeleton-secrets ion-no-padding my-secrets-content"
      *ngFor="let secret of [1, 2]"
    >
    </ion-card>
  </ng-container>

  <ng-container *ngIf="(loaderService.isLoading$ | async) === false">
    <ion-card
      class="ion-no-padding my-secrets-content"
      *ngFor="let secret of secrets; let index = index"
    >
      <ion-card-header *ngIf="secret?.title">
        <ion-card-title>
          <p class="blur" [class.revealed]="isRevealed">{{ secret?.title }}</p>
          <div class="actions d-flex justify-content-center align-items-center">
            <ion-icon
              class="clickable mt-2"
              [color]="secret?.isFavorite ? 'primary' : ''"
              [name]="secret?.isFavorite ? 'heart' : 'heart-outline'"
              (click)="addToFavorite(secret)"
            ></ion-icon>
            <ion-icon
              class="clickable"
              name="create-outline"
              (click)="onEdit(secret?.id)"
            ></ion-icon>
            <ion-icon
              class="clickable"
              name="trash-outline"
              color="danger"
              (click)="onDelete(secret)"
            ></ion-icon>
            <ion-icon
              class="clickable"
              name="ellipsis-vertical"
              (click)="on3Dots(secret)"
            ></ion-icon>
          </div>
        </ion-card-title>
      </ion-card-header>

      <!-- (click)="onCopy(secret?.secret)" -->
      <ion-card-content *ngIf="secret?.secret?.includes('http'); else notalink">
        <div class="d-flex justify-content-center align-items-start">
          <ion-icon name="lock-closed-outline" *ngIf="!isRevealed"></ion-icon>
          <ion-icon name="lock-open-outline" *ngIf="isRevealed"></ion-icon>
          <a
            [href]="secret?.secret"
            target="_blank"
            rel="noopener noreferrer"
            class="blur pl-5"
            [class.revealed]="isRevealed"
          >
            {{ secret?.secret }}</a
          >
        </div>
        <small *ngIf="!secret?.lastUpdatedOn"
          >Created on {{ secret?.createdOn | date : "medium" }}</small
        >
        <small *ngIf="secret?.lastUpdatedOn"
          >Last Updated on {{ secret?.lastUpdatedOn | date : "medium" }}</small
        >
      </ion-card-content>
      <ng-template #notalink>
        <!-- (click)="onCopy(secret?.secret)" -->
        <ion-card-content>
          <div class="d-flex justify-content-center align-items-start">
            <ion-icon name="lock-closed-outline" *ngIf="!isRevealed"></ion-icon>
            <ion-icon name="lock-open-outline" *ngIf="isRevealed"></ion-icon>
            <p class="blur pl-5" [class.revealed]="isRevealed">
              {{ secret?.secret }}
            </p>
          </div>
          <small *ngIf="!secret?.lastUpdatedOn"
            >Created on {{ secret?.createdOn | date : "medium" }}</small
          >
          <small *ngIf="secret?.lastUpdatedOn"
            >Last Updated on
            {{ secret?.lastUpdatedOn | date : "medium" }}</small
          >
        </ion-card-content>
      </ng-template>
    </ion-card>
  </ng-container>
</div>

<div class="ete" *ngIf="secrets && secrets?.length > 0">
  <ion-icon name="lock-closed"></ion-icon>
  <p class="pl-5">Your secrets are <span>end-to-end encrypted</span></p>
</div>

<div
  class="no-secrets"
  *ngIf="
    secrets &&
    secrets.length < 1 &&
    (loaderService.isLoading$ | async) === false
  "
>
  <img src="../../../assets/images/no-secrets.png" alt="" />
  <p>{{ noSecretText }}</p>
</div>
