.my-secrets {
  margin-top: 1rem;
  &-header {
    h2 {
      font-size: 18px;
    }
    .right-side {
      ion-icon {
        font-size: 18px;
      }
      p {
        color: var(--ion-color-primary);
        border-bottom: 1px dotted var(--ion-color-primary);
        font-size: 14px;
        font-weight: 500;
        margin: 0;
        margin-bottom: 10px;
        // width: 70px;
      }
    }
  }
  &-content {
    border: 1px solid #c4c4c4;
    background: #e4e4e4;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;

    ion-card-header {
      padding-bottom: 5px;

      ion-card-title {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          width: 75%;
          margin: 0;
        }

        .actions {
          gap: 5px;
          ion-icon {
            font-size: 22px;
          }
        }
      }
    }
    ion-card-title {
      color: var(--ion-background-color);
      font-size: 18px;
    }
    ion-card-content {
      color: var(--ion-background-color);
      font-size: 16px;
      small {
        opacity: 0.6;
      }
    }
  }
}

.skeleton-secrets {
  width: 100%;
  height: 120px; /* Adjust based on content */
  background-color: #e0e0e0;
  animation: pulse 1s infinite alternate;
}

.skeleton-header {
  h2,
  p {
    border-radius: 4px;
    height: 20px;
    background-color: #e0e0e0;
    animation: pulse 1s infinite alternate;
  }
  h2 {
    width: 100px;
  }
  p {
    width: 60px;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.blur {
  filter: blur(4px);
  user-select: none;
  transition: filter 0.3s ease-in-out;
}

.revealed {
  filter: blur(0px);
}

.ete {
  text-align: center;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  margin-bottom: 1rem;
  p {
    span {
      color: var(--ion-color-primary);
      font-weight: 600;
    }
  }
}

.no-secrets {
  display: flex;
  height: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  text-align: center;
  margin: auto;
  img {
    max-width: 80%;
  }
  p {
    opacity: 0.7;
  }
}
