<div class="my-secrets">
  <!-- Header -->
  <ng-container
    *ngIf="
      (loaderService.isLoading$ | async) === false && originalSecrets.length > 0
    "
  >
    <div
      class="my-secrets-header d-flex ion-align-items-center"
      [class.ion-justify-content-between]="showTitle"
      [class.ion-justify-content-end]="!showTitle"
    >
      <h2 *ngIf="showTitle">My Secrets</h2>
      <div class="d-flex ion-align-items-center right-side">
        <p (click)="onReveal()" class="cursor-pointer">
          {{ isRevealed ? "Reset" : "Reveal All" }}
        </p>
      </div>
    </div>
  </ng-container>

  <!-- Skeleton Header -->
  <ng-container *ngIf="(loaderService.isLoading$ | async) === true">
    <div
      class="my-secrets-header skeleton-header d-flex ion-align-items-center"
      [class.ion-justify-content-between]="showTitle"
      [class.ion-justify-content-end]="!showTitle"
    >
      <h2 *ngIf="showTitle"></h2>
      <p></p>
    </div>
  </ng-container>

  <!-- Skeleton Secrets -->
  <ng-container *ngIf="(loaderService.isLoading$ | async) === true">
    <ion-card
      class="skeleton-secrets ion-no-padding my-secrets-content"
      *ngFor="let secret of [1, 2]"
    >
    </ion-card>
  </ng-container>

  <!-- Secrets Content -->
  <ng-container *ngIf="(loaderService.isLoading$ | async) === false">
    <!-- Sub Header [Select All, Filter, Search] -->
    <ion-row
      class="second-header ion-no-padding"
      *ngIf="
        originalSecrets && originalSecrets.length > 0 && !isBulkActionActivated
      "
    >
      <ion-col
        size="1"
        class="ion-no-padding ion-no-margin d-flex ion-align-items-center ion-justify-content-start"
      >
        <ion-icon
          (click)="presentPopover($event)"
          name="ellipsis-horizontal-circle-outline"
          class=""
        ></ion-icon>
        <ion-popover
          #popover
          [isOpen]="isPopoverOpen"
          (didDismiss)="isPopoverOpen = false"
          size="auto"
          cssClass="custom-popover"
          arrow="false"
          side="bottom"
          alignment="start"
          dismissOnSelect="true"
        >
          <ng-template>
            <ion-content class="ion-no-padding">
              <div
                class="d-flex ion-align-items-center ion-justify-content-between popover-div clickable"
                (click)="onSelectSecrets()"
              >
                <p>Select Secrets</p>
                <ion-icon name="checkmark-circle-outline"></ion-icon>
              </div>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-col>
      <ion-col
        size="1"
        class="ion-no-padding d-flex ion-align-items-center ion-justify-content-start"
      >
        <ion-icon name="options-outline" (click)="openSortModal()"></ion-icon>
      </ion-col>
      <ion-col size="9" class="ion-no-padding">
        <ion-searchbar
          class="ion-no-padding"
          show-clear-button="always"
          clear-icon="trash-bin"
          placeholder="Search by Title"
          (ionInput)="handleSearchInput($event)"
        ></ion-searchbar>
      </ion-col>
    </ion-row>

    <!-- Sub Header, If Select All -->
    <ion-row
      class="ion-no-padding ion-align-items-center ion-justify-content-between select-row"
      *ngIf="
        originalSecrets && originalSecrets.length > 0 && isBulkActionActivated
      "
    >
      <ion-col
        size="1"
        class="ion-no-padding ion-no-margin d-flex ion-align-items-end ion-justify-content-start"
      >
        <ion-checkbox
          [checked]="selectAll"
          (ionChange)="onCheckBoxAll($event)"
        ></ion-checkbox>
      </ion-col>
      <ion-col size="4" class="d-flex ion-justify-content-end ion-no-padding">
        <div
          class="cancel d-flex ion-align-items-center cursor-pointer clickable"
          (click)="onCancelBulkAction()"
        >
          <p color="danger">Cancel</p>
        </div>
      </ion-col>
    </ion-row>

    <!-- Secret Cards -->
    <ion-row
      class="ion-no-padding ion-align-items-center ion-justify-content-between"
      *ngFor="
        let secret of filteredSecrets;
        trackBy: trackById;
        let index = index
      "
    >
      <ion-col size="1.5" class="ion-no-padding" *ngIf="isBulkActionActivated">
        <ion-checkbox
          [checked]="isChecked(secret?.id)"
          (ionChange)="onCheckBox($event, secret)"
        ></ion-checkbox>
      </ion-col>
      <ion-col
        class="ion-no-padding transition-col"
        [size]="isBulkActionActivated ? 10.5 : 12"
      >
        <ion-card class="ion-no-padding my-secrets-content">
          <ion-card-header *ngIf="secret?.title">
            <ion-card-title>
              <div
                class="d-flex ion-align-items-center ion-justify-content-center"
              >
                <ion-icon
                  name="lock-closed-outline"
                  *ngIf="!isRevealed"
                ></ion-icon>
                <ion-icon
                  name="lock-open-outline"
                  *ngIf="isRevealed"
                ></ion-icon>
                <p class="blur" [class.revealed]="isRevealed">
                  {{ secret?.title }}
                </p>
              </div>
              <div
                class="actions d-flex justify-content-center align-items-center"
                [class.animate-actions]="isRevealed"
                *ngIf="!isSharedFolder"
              >
                <ion-icon
                  *ngIf="!isArchivePage"
                  class="clickable mt-2"
                  [color]="secret?.isFavorite ? 'primary' : ''"
                  [name]="secret?.isFavorite ? 'heart' : 'heart-outline'"
                  (click)="addToFavorite(secret)"
                ></ion-icon>
                <ion-icon
                  class="clickable"
                  name="create-outline"
                  (click)="onEdit(secret?.id)"
                ></ion-icon>
                <ion-icon
                  class="clickable"
                  name="trash-outline"
                  color="danger"
                  (click)="onDelete(secret)"
                ></ion-icon>
                <ion-icon
                  class="clickable"
                  name="ellipsis-vertical"
                  (click)="on3Dots(secret)"
                ></ion-icon>
              </div>
            </ion-card-title>
          </ion-card-header>

          <!-- (click)="onCopy(secret?.secret)" -->
          <ion-card-content
            *ngIf="secret?.secret?.includes('http'); else notalink"
          >
            <div class="d-flex justify-content-center align-items-start">
              <!-- <ion-icon name="lock-closed-outline" *ngIf="!isRevealed"></ion-icon>
            <ion-icon name="lock-open-outline" *ngIf="isRevealed"></ion-icon> -->
              <a
                [href]="secret?.secret"
                target="_blank"
                rel="noopener noreferrer"
                class="blur pl-5 secret"
                [class.revealed]="isRevealed"
              >
                {{ secret?.secret }}</a
              >
            </div>
            <small *ngIf="!secret?.lastUpdatedOn">
              {{ secret?.createdOn }}</small
            >
            <small *ngIf="secret?.lastUpdatedOn">
              {{ secret?.lastUpdatedOn }}</small
            >
          </ion-card-content>
          <ng-template #notalink>
            <!-- (click)="onCopy(secret?.secret)" -->
            <ion-card-content>
              <div
                class="d-flex ion-justify-content-start ion-align-items-start"
              >
                <!-- <ion-icon name="lock-closed-outline" *ngIf="!isRevealed"></ion-icon>
              <ion-icon name="lock-open-outline" *ngIf="isRevealed"></ion-icon> -->
                <p
                  class="blur pl-5 secret"
                  [class.revealed]="isRevealed"
                  (click)="onCopy(secret?.secret)"
                >
                  {{ secret?.secret }}
                </p>
              </div>
              <small *ngIf="!secret?.lastUpdatedOn">
                {{ secret?.createdOn }}
              </small>
              <small *ngIf="secret?.lastUpdatedOn">
                {{ secret?.lastUpdatedOn }}</small
              >
            </ion-card-content>
          </ng-template>
        </ion-card>
      </ion-col>
    </ion-row>
  </ng-container>

  <!-- No Secrets -->
  <ng-container *ngIf="noSecretText && !isAPIError">
    <div class="negative-container">
      <div class="img-container">
        <img src="../../../../assets/images/No data-cuate.png" alt="" />
        <p>{{ noSecretText }}</p>
      </div>
    </div>
  </ng-container>

  <!-- API Error -->
  <ng-container *ngIf="isAPIError">
    <div class="negative-container">
      <div class="img-container">
        <img src="../../../../assets/images/Man thinking-bro.png" alt="" />
        <p>{{ noSecretText }}</p>
      </div>
    </div>
  </ng-container>

  <!-- No Secrets on Search -->
  <ng-container *ngIf="filteredSecrets && filteredSecrets.length > 0">
    <div class="ete">
      <ion-icon name="lock-closed"></ion-icon>
      <p class="pl-5">Your secrets are <span>end-to-end encrypted</span></p>
    </div>
  </ng-container>
</div>

<app-sorting-and-filter
  [isModalOpen]="isSortingAndFilterOpen"
  (closeModal)="closeModal($event)"
></app-sorting-and-filter>

<!-- <div
  class="bulk-action-tab ml-150"
  [class.show-bulk-action-tab]="bulkActionSecrets.length > 0"
>
  <ul>
    <li>
      <div (click)="bulkArchive()" class="clickable">
        <ion-icon
          name="archive-outline"
          [class.unarchive]="isArchivePage"
        ></ion-icon
        >{{ isArchivePage ? "Unarchive" : "Archive" }}
      </div>
    </li>
    <li>
      <div>{{ bulkActionSecrets.length }} Secrets Selected</div>
    </li>
    <li>
      <div (click)="showDeleteAlert()" class="clickable">
        <ion-icon name="trash-outline"></ion-icon>Delete
      </div>
    </li>
  </ul>
</div> -->

<app-bulk-action-tab
  [isModalOpen]="bulkActionSecrets.length > 0"
  [bulkActionSecrets]="bulkActionSecrets"
  [isArchivePage]="isArchivePage"
  (_bulkArchieve)="bulkArchive()"
  (_showDeleteAlert)="showDeleteAlert()"
></app-bulk-action-tab>
