.my-secrets {
  margin-top: 1rem;
  margin-bottom: 3rem;
  height: 100%;
  &-header {
    margin-top: 1.5rem;
    margin-bottom: 0px;
    h2 {
      font-size: 18px;
      margin: 0;
    }
    .right-side {
      ion-icon {
        font-size: 18px;
      }
      p {
        color: var(--ion-color-primary);
        border-bottom: 1px dotted var(--ion-color-primary);
        font-size: 14px;
        font-weight: 500;
        margin: 0;
        // margin-bottom: 10px;
        // width: 70px;
      }
    }
  }
  &-content {
    border: 1px solid #c4c4c4;
    background: #e4e4e4;
    margin: 0;
    // margin-bottom: 10px;
    margin-top: 10px;

    ion-card {
      transition: all 0.5s ease;
    }

    ion-card-header {
      padding-bottom: 5px;
      // padding-left: 10px;
      // padding-right: 10px;

      ion-card-title {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          margin: 0;
          padding-left: 10px;
        }

        .actions {
          // transform: translateX(120%);
          // transition: transform 0.5s ease-in-out;
          // @media (max-width:768px){
          // transform: translateX(40vw);
          // }
          gap: 5px;
          ion-icon {
            font-size: 22px;
          }
        }
      }
    }
    ion-card-title {
      color: var(--ion-background-color);
      font-size: 18px;
    }
    ion-card-content {
      // padding-left: 10px;
      // padding-right: 10px;
      color: var(--ion-background-color);
      font-size: 16px;
      small {
        opacity: 0.6;
      }
      .secret {
        white-space: pre-line;
        word-wrap: break-word;
        padding-left: 0;
        word-break: break-all;
      }
    }
  }
}

.skeleton-secrets {
  width: 100%;
  height: 120px; /* Adjust based on content */
  background-color: #e0e0e0;
  animation: pulse 1s infinite alternate;
}

.skeleton-header {
  h2,
  p {
    border-radius: 4px;
    height: 20px;
    background-color: #e0e0e0;
    animation: pulse 1s infinite alternate;
  }
  h2 {
    width: 100px;
  }
  p {
    width: 60px;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.blur {
  filter: blur(4px);
  user-select: none;
  pointer-events: none;
  transition: filter 0.3s ease-in-out;
}

.revealed {
  filter: blur(0px);
  cursor: pointer;
  pointer-events: all;
}

.ete {
  text-align: center;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  margin-bottom: 1rem;
  p {
    span {
      color: var(--ion-color-primary);
      font-weight: 600;
    }
  }
}

.actions ion-icon {
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Staggered fade-in */
.animate-actions ion-icon:nth-child(4) {
  transition-delay: 0.1s;
}

.animate-actions ion-icon:nth-child(3) {
  transition-delay: 0.2s;
}

.animate-actions ion-icon:nth-child(2) {
  transition-delay: 0.3s;
}

.animate-actions ion-icon:nth-child(1) {
  transition-delay: 0.4s;
}

/* Icons appear when isRevealed is true */
.animate-actions ion-icon {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

/* Staggered fade-out when isRevealed is false */
.actions:not(.animate-actions) ion-icon:nth-child(1) {
  transition-delay: 0.4s;
}

.actions:not(.animate-actions) ion-icon:nth-child(2) {
  transition-delay: 0.3s;
}

.actions:not(.animate-actions) ion-icon:nth-child(3) {
  transition-delay: 0.2s;
}

.actions:not(.animate-actions) ion-icon:nth-child(4) {
  transition-delay: 0.1s;
}

ion-search-bar {
  input {
    font-size: 14px !important;
    padding-left: 5px !important;
  }
  // --background : rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.07)
  // --background: rgba(0, 0, 0, 0.07) !important; /* Always dark */
}

ion-icon[name="options-outline"],
ion-icon[name="ellipsis-horizontal-circle-outline"] {
  font-size: 28px;
}

::ng-deep .searchbar-input {
  font-size: 15px !important;
}

.secrets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  ion-card {
    width: 85%;
  }
}

ion-icon[name="checkmark-circle-outline"] {
  font-size: 22px;
}

.popover-div {
  padding: 10px;
  cursor: pointer;
  p {
    margin: 0px;
    font-size: 16px;
  }
}

.cancel {
  background: #c5000f;
  padding: 5px 14px;
  border-radius: 14px;
  ion-icon {
    font-size: 18px;
    padding-right: 5px;
  }
  p {
    margin: 0;
    font-size: 14px;
    color: #fff;
  }
}

.select-row {
  margin: 15px 0;
}

.transition-col {
  transition: width 0.3s ease-in-out !important;
}

.bulk-action-tab {
  width: 100%;
  height: 70px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  position: fixed;
  bottom: 0;
  transform: translateY(100vh);
  transition: all 0.5s ease-in-out;
  left: 0;
  z-index: 100;
  ul {
    padding: 0 10px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    text-align: center;

    li {
      list-style: none;
      color: var(--ion-background-color);
      font-size: 16px;
      > div {
        display: flex;
        align-items: center;
        ion-icon {
          font-size: 20px;
          padding-right: 5px;
        }
      }

      &:last-child {
        background: var(--ion-color-danger);
        color: var(--ion-color-light);
        padding: 10px 15px;
        border-radius: 25px;
      }
    }
  }
}

.show-bulk-action-tab {
  transform: translateY(0);
}



@media (min-width: 576px) {
  .ml-150 {
    width: calc(100% - 150px);
  }
}

.second-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @media (min-width: 900px) {
    justify-content: left;
    width: 50%;
  }
}
