.avatar {
  border-radius: 50%;
  background: var(--ion-color-primary);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  img {
    object-fit: cover;
  }
}
