<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-grid class="ion-no-padding ml-150">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <div class="add-secret">
          <ion-input
            labelPlacement="stacked"
            placeholder="Enter Title *"
            [(ngModel)]="title"
          ></ion-input>

          <ion-textarea
            autoGrow="true"
            placeholder="Enter your secret here *"
            [(ngModel)]="secret"
          ></ion-textarea>

          <div class="floating-btn" [class.disabled]="isSaveButtonDisabled">
            <ion-button class="save" (click)="save()">Save</ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
