<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="add-secret">
          <h1 *ngIf="!secretId">Add Secret</h1>
          <h1 *ngIf="secretId">Edit Secret</h1>
        </div>
        <div class="add-secret">
          <ion-input
            labelPlacement="stacked"
            placeholder="Enter Title"
            [(ngModel)]="title"
          ></ion-input>

          <ion-textarea
            autoGrow="true"
            placeholder="Enter your secret here"
            [(ngModel)]="secret"
          ></ion-textarea>

          <!-- <div class="select-folder">
            <ion-input placeholder="Select Folder Below" readonly></ion-input>
            <div class="folder-list">
              <div
                class="folder"
                *ngFor="let item of vibrantColors"
                [ngStyle]="{'backgroundColor' : item}"
              >
                <p>Password</p>
              </div>
              <div class="folder create-folder">
                <p>+ Create Folder</p>
              </div>
            </div>
          </div> -->

          <ion-button class="save" (click)="save()">Encrypt & Save</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
