<ion-input
  [type]="type"
  [attr.maxlength]="maxlength ? maxlength.toString() : null"
  [formControl]="control"
  [placeholder]="placeholder"
  [class.error-border-bottom]="isControlInvalid()"
>
  <ion-input-password-toggle
    slot="end"
    *ngIf="type == 'password'"
  ></ion-input-password-toggle>
</ion-input>

<div *ngIf="isControlInvalid()">
  <p class="error-text mt-5" [ngSwitch]="getErrorType()">
    <span *ngSwitchCase="'required'">This field is required.</span>
    <span *ngSwitchCase="'minlength'">
      {{ controlName }} must be at least
      {{ control.errors?.['minlength'].requiredLength }} characters.
    </span>
    <span *ngSwitchCase="'maxlength'">
      Maximum length is
      {{ control.errors?.['maxlength'].requiredLength }} characters.
    </span>
    <span *ngSwitchCase="'pattern'"> Invalid {{ controlName }}. </span>
  </p>
</div>
