<ion-modal
  id="show-user-id-modal"
  class="modal"
  [isOpen]="isModalOpen"
  [backdropDismiss]="false"
>
  <ng-template>
    <div class="wrapper">
      <h1>Save</h1>
      <div class="content">
        <p>{{ userId }}</p>
        <ion-icon [name]="iconName" (click)="onCopy()"></ion-icon>
      </div>
      <p class="note">
        <span>Note : </span> Store this Security ID securely and use it if you ever
        forget your password.
      </p>
      <p class="warning">
        You won't be able to log in if you forget your password or fail to use
        this Security ID.
      </p>
      <ion-button color="primary" expand="block" (click)="login()">Continue to Login</ion-button>
    </div>
  </ng-template>
</ion-modal>
