<ion-modal
  [isOpen]="isModalOpen"
  [backdropDismiss]="false"
  [initialBreakpoint]="1"
  [breakpoints]="[0, 1]"
  [backdropBreakpoint]="1"
  handle="false"
  class="ba-modal"
>
  <ng-template>
    <div class="block">
      <ul>
        <li>
          <div (click)="bulkArchive()" class="clickable">
            <ion-icon
              name="archive-outline"
              [class.unarchive]="isArchivePage"
            ></ion-icon
            >{{ isArchivePage ? "Unarchive" : "Archive" }}
          </div>
        </li>
        <li>
          <div>
            <!-- <ion-icon name="enter-outline"></ion-icon> -->
            {{ bulkActionSecrets.length }} Secret{{
              bulkActionSecrets.length > 1 ? "s" : ""
            }}
            Selected
          </div>
        </li>
        <li>
          <div (click)="showDeleteAlert()" class="clickable">
            <ion-icon name="trash-outline"></ion-icon>Delete
          </div>
        </li>
      </ul>
    </div>
  </ng-template>
</ion-modal>
