.block {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff !important;
  color: var(--ion-background-color);
}

ion-modal {
  --height: auto;
}

ul {
  padding: 0 10px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  text-align: center;

  li {
    list-style: none;
    color: var(--ion-background-color);
    font-size: 16px;
    > div {
      display: flex;
      align-items: center;
      ion-icon {
        font-size: 20px;
        padding-right: 5px;
      }
      span{
        font-weight: 600;
        padding-right: 2px;
      }
    }

    &:last-child {
      background: var(--ion-color-danger);
      color: var(--ion-color-light);
      padding: 10px 15px;
      border-radius: 25px;
    }
  }
}

.ba-modal::part(content) {
  border-radius: 0;
}

.unarchive {
  transform: rotate(-180deg);
  padding-left: 5px;
}
