<ion-modal
  id="pick-color-modal"
  class="modal"
  [isOpen]="isModalOpen"
  (willDismiss)="onWillDismiss($event)"
>
  <ng-template>
    <div class="wrapper">
      <h1>Select Color</h1>
      <div class="content">
        <div
          class="color-circles d-flex ion-justify-content-start ion-align-items-center"
        >
          <div
            class="color clickable"
            *ngFor="let color of vibrantColors"
            [ngStyle]="{ backgroundColor: color }"
            (click)="updateFolderColor(color)"
          >
            <ion-icon
              name="checkmark"
              *ngIf="selectedFolder && selectedFolder?.folderColor == color"
            ></ion-icon>
          </div>
        </div>
        <div class="footer">
          <p class="cancel" (click)="closeModal()">Cancel</p>
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>
