<ion-content class="ion-padding">
  <div class="my-profile ml-150">
    <ion-card class="ion-padding ion-no-margin my-profile-card">
      <div class="card-header"><p>{{loggedInUserDetails?.avatar}}</p></div>
      <div class="card-content">
        <div class="username">
          <div class="left">
            <ion-icon name="person"></ion-icon>
            <p>{{loggedInUserDetails?.username}}</p>
          </div>
        </div>
        <div class="password">
          <div class="left">
            <ion-icon name="lock-closed"></ion-icon>
            <p>{{loggedInUserDetails?.maskedPassword}}</p>
          </div>
          <div class="right">
            <ion-icon name="pencil" (click)="changePassword()"></ion-icon>
          </div>
        </div>
      </div>
    </ion-card>
    <ion-card class="ion-no-padding ion-no-margin">
      <div class="extras">
        <div
          class="row ion-padding-horizontal cursor-pointer"
          *ngFor="let extra of profileExtrasOne"
          (click)="onProfileExtra(extra)"
        >
          <div class="row-left">
            <ion-icon [name]="extra?.icon"></ion-icon>
            <p>{{extra?.name}}</p>
          </div>
          <div class="row-right">
            <ion-icon name="chevron-forward" class="clickable"></ion-icon>
          </div>
        </div>
      </div>
    </ion-card>
    <ion-card class="ion-no-padding ion-no-margin">
      <div class="extras">
        <div
          class="row ion-padding-horizontal cursor-pointer"
          *ngFor="let extra of profileExtrasTwo"
          (click)="onProfileExtra(extra)"
        >
          <div class="row-left">
            <ion-icon [name]="extra?.icon"></ion-icon>
            <p>{{extra?.name}}</p>
          </div>
          <div class="row-right">
            <ion-icon name="chevron-forward" class="clickable"></ion-icon>
          </div>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>

<app-forgot-password-modal
  [isModalOpen]="isModalOpen"
  [isChangePassword]="true"
  (setModalOpenToFalse)="isModalOpen = false"
></app-forgot-password-modal>
