.my-profile {
  ion-card {
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
    .card-header {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: var(--ion-color-primary);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        font-size: 34px;
        color: #fff;
      }
    }
    .card-content {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin-top: 10px;
      .username,
      .password {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left {
          display: flex;
          align-items: center;
          justify-content: center;
          ion-icon {
            font-size: 22px;
            margin-right: 10px;
            color: var(--ion-color-primary);
          }
          p {
            font-size: 18px;
            margin: 10px;
            color: var(--ion-background-color);
            // padding: 0;
          }
        }
        .right {
          ion-icon {
            font-size: 22px;
          }
        }
      }
    }

    .extras {
      width: 100%;
      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #c4c4c4;
        &-left {
          display: flex;
          align-items: center;
          ion-icon {
            font-size: 22px;
            margin-right: 10px;
            color: var(--ion-color-primary);
          }
          p {
            font-size: 16px;
            margin: 10px;
            color: var(--ion-background-color);
          }
        }
        &-right {
          ion-icon {
            font-size: 22px;
          }
        }
      }
    }
  }
}
