.negative-container {
  display: flex;
  height: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  text-align: center;
  margin: auto;

  .img-container {
    width: 400px;
    height: 400px;
    img {
      object-fit: cover;
    }
  }
  p {
    transform: translateY(-3rem);
    margin: 0;
  }
}

.api-error {
  .img-container {
    width: 350px;
    height: 350px;
    img {
      object-fit: cover;
    }
  }
  p {
    transform: translateY(0rem);
  }
}
