.d-flex {
  display: flex;
}

.relative {
  position: relative;
}

.pl-5 {
  padding-left: 5px;
}

.m-0{
  margin: 0;
}

.w-100 {
  width: 100%;
}

.disabled {
  pointer-events: none;
}

.mt-2 {
  margin-top: 2px !important;
}

.mt-5{
  margin-top: 5px !important;
}

.cursor-pointer {
  cursor: pointer;
}

@media (min-width: 576px) {
  .ml-150 {
    margin-left: 150px;
  }
}

.h-100 {
  flex-grow: 1;
  height: 100%;
}

.italic{
  font-style: italic;
  color:var(--ion-color-primary);
}

.error-text{
  color:red !important;
}

.bdr{
  border: 1px solid red;
}

.p-5{
  padding: 5px;
}