:root {
  --ion-background-color: #030619; /* Deep Navy Blue background */
  --ion-text-color: #ffffff; /* Primary text color */
  --ion-color-primary: #ff5733; /* Bright Cyan for primary buttons */
  --ion-color-primary-contrast: #030619; /* Text color on primary buttons */
  --ion-color-secondary: #ffffff; /* Lime Green for secondary buttons */
  --ion-color-secondary-contrast: #030619; /* Text color on secondary buttons */
  --ion-color-tertiary: #03aaaa; /* Coral for tertiary buttons */
  --ion-color-tertiary-contrast: #030619; /* Text color on tertiary buttons */
  --ion-toolbar-background: #030619;
  --white: #ffffff;
  --ion-highlight-color: #ff5733;
}
