:root {
  --ion-background-color: #030619 !important; /* Deep Navy Blue background */
  --ion-text-color: #ffffff !important; /* Primary text color */
  --ion-color-primary: #ff5733 !important; /* Bright Cyan for primary buttons */
  --ion-color-primary-shade : #ff5733 !important;
  --ion-color-primary-tint : #fd6745 !important;
  --ion-color-primary-contrast: #fff !important; /* Text color on primary buttons */
  --ion-color-secondary: #ffffff !important; /* Lime Green for secondary buttons */
  --ion-color-secondary-contrast: #030619; /* Text color on secondary buttons */
  --ion-color-tertiary: #03aaaa; /* Coral for tertiary buttons */
  --ion-color-tertiary-contrast: #030619; /* Text color on tertiary buttons */
  --ion-toolbar-background: #030619;
  --white: #ffffff;
  --ion-highlight-color: #ff5733;
  --ion-color-light: #ffffff !important; /* Always white */
  --ion-color-dark: #000000 !important; /* Always dark */
}
