<ion-content class="ion-no-padding">
  <ion-grid class="ion-padding-horizontal ml-150">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <div class="folders-secret-header" *ngIf="folderDetails">
          <h1>{{this.folderDetails.folderName}}</h1>
          <div
            class="d-flex ion-align-items-center ion-justify-content-between"
          >
            <div class="left">
              <p *ngIf="isShared === 'false'">
                {{this.folderDetails.createdOn}}
              </p>
              <p *ngIf="isShared === 'true' && sharedBy" class="sharedBy">
                Shared by {{sharedBy?.username}}
              </p>
            </div>
            <div
              class="right d-flex ion-align-items-center"
              (click)="leaveFolder()"
              *ngIf="isShared === 'true'"
            >
              <ion-icon name="exit-outline" color="light"></ion-icon>
              <p color="danger">Leave</p>
            </div>
          </div>

          <div
            class="d-flex ion-justify-content-between ion-align-items-center"
          >
            <div class="sharedTo" *ngIf="isShared === 'false'">
              <div
                class="avatar cursor-pointer"
                (click)="onManageAccess()"
                *ngFor="let user of folderDetails?.sharedTo"
              >
                <p>{{ user?.avatar }}</p>
              </div>
              <div
                class="avatar extras"
                (click)="onAddPeople()"
                *ngIf="folderDetails?.sharedTo?.length < 1"
              >
                <ion-icon name="share-outline"></ion-icon>
              </div>
              <div
                class="avatar extras share"
                (click)="onAddPeople()"
                *ngIf="folderDetails?.sharedTo?.length > 0"
              >
                <ion-icon name="add"></ion-icon>
              </div>
              <div class="avatar extras add cursor-pointer" (click)="onAdd()">
                <ion-icon name="add"></ion-icon>
                <p>Add Secret</p>
              </div>
            </div>
            <!-- <div class="add-secret" (click)="onAdd()">
              <p>Add Secret</p>
            </div> -->
          </div>
        </div>
        <app-secret-cards
          [secrets]="secretsList"
          [showTitle]="false"
          [noSecretText]="noSecretText"
        ></app-secret-cards>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-icon
    name="add-circle"
    class="plus clickable"
    (click)="onAdd()"
  ></ion-icon> -->
</ion-content>

<app-share
  [isModalOpen]="isShareModalOpen"
  (setModalOpenToFalse)="isShareModalOpen = false"
  [selectedFolder]="folderDetails"
></app-share>
