<ion-content >
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col>
        <div class="folders-secret-header" *ngIf="folderDetails">
          <h1>{{this.folderDetails.folderName}}</h1>
          <p>Created On {{this.folderDetails.createdOn | date : 'medium'}}</p>
        </div>
        <app-secret-cards
          [secrets]="secretsList"
          [showTitle]="false"
          [noSecretText]="noSecretText"
        ></app-secret-cards>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-icon
    name="add-circle"
    class="plus clickable"
    (click)="onAdd()"
  ></ion-icon>
</ion-content>
