.advertise-container {
  width: 100%;
  margin-top: 0%;
  padding: 1rem 0;
  .swiper-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 450px;

    @media (max-width: 576px) {
      justify-content: left;
      overflow-x: scroll;
    }

    .swiper {
      //   aspect-ratio: 16/9;
      width: 250px;
      height: 100%;
      border-radius: 16px;
      scale: 1;
      transition: all 0.5s ease-in-out;

      @media (max-width: 576px) {
        flex: 0 0 80%;
      }

      img {
        border-radius: 16px;
        height: 100%;
        width: 100%;
      }
      &:hover {
        scale: (1.2);
        z-index: 1;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
          rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
          rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      }
    }
  }
}
