<ion-content class="dashboard">
  <ion-grid class="grid">
    <ion-row *ngIf="action">
      <ion-col>
        <div
          class="move-action-header d-flex ion-align-items-center ion-justify-content-between"
        >
          <h1>Select Destination</h1>
          <ion-icon name="duplicate-outline" (click)="onNewFolder()"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col class="folders">
        <div class="folder-grid">
          <div
            class="folder clickable"
            *ngFor="let item of folders"
            [ngStyle]="{'backgroundColor' : item?.folderColor}"
            (click)="onSelectingFolder(item)"
          >
            <div class="folder-tab"></div>
            <div
              class="folder-line-1"
              [ngStyle]="{'background': 'linear-gradient(45deg, ' + item?.folderColor + ' 50%, #030619 50%)'}"
            ></div>
            <div
              class="folder-line-2"
              [ngStyle]="{'backgroundColor' : item?.folderColor}"
            ></div>
            <div class="folder-line-3"></div>

            <div class="content">
              <p>{{item?.folderName}}</p>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row> -->
    <app-folders-reusable
      [folders]="folders"
      (onFolderSelection)="onSelectingFolder($event)"
    ></app-folders-reusable>
  </ion-grid>
</ion-content>

<app-create-folder-modal
  [isModalOpen]="isModalOpen"
  [folders]="folders"
  [loggedInUserDetails]="loggedInUserDetails"
  (fetchFolders)="fetchFolders()"
  (setModalFalse)="isModalOpen = false"
></app-create-folder-modal>
