<ion-content class="dashboard">
  <div class="ml-150">
    <ion-grid class="grid">
      <ion-row>
        <ion-col>
          <div
            class="move-action-header d-flex ion-align-items-center"
            [class.ion-justify-content-end]="!action"
            [class.ion-justify-content-between]="action"
          >
            <h1 *ngIf="action">Select Destination</h1>
            <p (click)="onNewFolder()">+ Create New Folder</p>
            <!-- <ion-icon name="duplicate-outline" (click)="onNewFolder()"></ion-icon> -->
          </div>
        </ion-col>
      </ion-row>

      <app-folders-reusable
        [folders]="folders"
        (onFolderSelection)="onSelectingFolder($event)"
        [showHeader]="false"
        (_fetchFolders)="fetchFolders()"
        (onNewFolder)="onNewFolder()"
      ></app-folders-reusable>
    </ion-grid>

    <div
      class="no-folders"
      *ngIf="
      folders &&
      folders.length < 1 &&
      (loaderService.isLoading$ | async) === false
    "
    >
      <img src="../../../assets/images/no-secrets.png" alt="" />
      <p>
        No Folders Found,<br />
        <span (click)="onNewFolder()">+ Create one now</span>
      </p>
    </div>
  </div>
</ion-content>

<app-create-folder-modal
  [isModalOpen]="isModalOpen"
  [folders]="folders"
  [loggedInUserDetails]="loggedInUserDetails"
  (fetchFolders)="fetchFolders()"
  (setModalFalse)="isModalOpen = false"
></app-create-folder-modal>
