<ion-content class="dashboard">
  <div class="ml-150">
    <ion-grid class="grid">
      <ion-row>
        <ion-col>
          <div
            class="move-action-header d-flex ion-align-items-center"
            [class.ion-justify-content-end]="!action"
            [class.ion-justify-content-between]="action"
          >
            <h1 *ngIf="action">Select Destination</h1>
            <p (click)="onNewFolder()" class="cursor-pointer">
              + Create New Folder
            </p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="folder-chiplets">
            <p
              [class.active]="activeFolderType === 'myFolders'"
              (click)="onFolderType('myFolders')"
            >
              My Folders
            </p>
            <p
              [class.active]="activeFolderType === 'shared'"
              (click)="onFolderType('shared')"
            >
              Shared
            </p>
          </div>
        </ion-col>
      </ion-row>

      <app-folders-reusable
        [folders]="folders"
        (onFolderSelection)="onSelectingFolder($event)"
        [showHeader]="false"
        (_fetchFolders)="fetchFolders()"
        (onNewFolder)="onNewFolder()"
        [isAPIError]="isAPIError"
        [noFolderText]="noFolderText"
        [isShared]="isShared"
      ></app-folders-reusable>
    </ion-grid>
  </div>
</ion-content>

<app-create-folder-modal
  [isModalOpen]="isModalOpen"
  [folders]="folders"
  (fetchFolders)="fetchFolders()"
  (setModalFalse)="isModalOpen = false"
></app-create-folder-modal>
