.dashboard {
  .grid {
    margin: 0 1rem;
    position: relative;
  }

  .folders {
    display: flex;
    justify-content: center; /* Center the grid */
  }

  .folder-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 15px;
    width: 100%;
    max-width: 600px;
  }
}
