<div class="mask" [class.hide-tab]="hideBottomTab"></div>
<ion-footer class="bottom-tab" [class.hide-tab]="hideBottomTab">
  <ul>
    <li
      class="list cursor-pointer"
      *ngFor="let tab of bottomsTabs; let i = index"
      [class.active]="i === activeIndex"
      (click)="navigate(tab, i)"
    >
      <a>
        <span class="icon"
          ><ion-icon
            [name]="i === activeIndex ? tab.iconActive : tab.icon"
          ></ion-icon
        ></span>
        <span class="text">{{ tab.name }}</span>
      </a>
    </li>
    <div
      class="indicator"
      [ngStyle]="{ left: calculateIndicatorPosition(activeIndex) }"
    ></div>
  </ul>
</ion-footer>

