<!-- <div class="bottom-tab">
  <ul>
    <li
      class="list"
      [class.active]="active == 'my-folders'"
      (click)="setActiveTab('my-folders', 0)"
    >
      <a>
        <span class="icon"
          ><ion-icon name="folder-open-outline"></ion-icon
        ></span>
        <span class="text">Folders</span>
      </a>
    </li>
    <li
      class="list"
      [class.active]="active == 'dashboard'"
      (click)="setActiveTab('dashboard', 1)"
    >
      <a>
        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li
      class="list"
      [class.active]="active == 'profile'"
      (click)="setActiveTab('profile', 1)"
    >
      <a>
        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
        <span class="text">Profile</span>
      </a>
    </li>
    <div class="indicator"></div>
  </ul>
</div> -->

<div class="mask"></div>
<ion-footer class="bottom-tab">
  <ul>
    <li
      class="list"
      *ngFor="let tab of bottomsTabs; let i = index"
      [class.active]="i === activeIndex"
      (click)="navigate(tab, i)"
    >
      <a>
        <span class="icon"
          ><ion-icon
            [name]="i === activeIndex ? tab.iconActive : tab.icon"
          ></ion-icon
        ></span>
        <span class="text">{{ tab.name }}</span>
      </a>
    </li>
    <div
      class="indicator"
      [ngStyle]="{ left: calculateIndicatorPosition(activeIndex) }"
    ></div>
  </ul>
</ion-footer>
