<div class="sidebar">
  <ul class="ion-no-padding">
    <li
      class="cursor-pointer"
      *ngFor="let tab of sidebarTabs; let i = index"
      [class.active]="i === activeIndex"
      (click)="navigate(tab, i)"
    >
      <ion-icon
        color="primary"
        [name]="i === activeIndex ? tab.iconActive : tab.icon"
      ></ion-icon>
      <p>{{ tab?.name }}</p>
    </li>
    <div
      class="indicator"
      [ngStyle]="{ top: calculateIndicatorPosition(activeIndex) }"
    ></div>
  </ul>
</div>
