<ng-container *ngIf="!isForgotPasswordScreen">
  <ion-card-header class="ion-no-padding">
    <ion-card-title>Login</ion-card-title>
  </ion-card-header>

  <app-alert-box
    *ngIf="emailVerificationPending"
    [headerIcon]="'warning'"
    [headerTitle]="'Email Verification Pending'"
    [contentText]="emailVerificationPending"
    [alertColor]="'var(--ion-color-danger)'"
    (_depressAlert)="closeEVP()"
    ><span (click)="resendEmailVerification()"
      >Resend Verification Email</span
    ></app-alert-box
  >

  <app-alert-box
    *ngIf="emailVerificationResent"
    [headerIcon]="'mail'"
    [headerTitle]="'Email Verification Resent Successfully'"
    [alertColor]="'var(--ion-color-success)'"
    (_depressAlert)="closeEVS()"
  ></app-alert-box>

  <ion-card-content class="ion-no-padding">
    <ion-input
      type="email"
      labelPlacement="stacked"
      placeholder="Enter Email"
      [(ngModel)]="userDetails.email"
    ></ion-input>

    <ion-input
      type="password"
      labelPlacement="stacked"
      placeholder="Enter Password"
      [(ngModel)]="userDetails.password"
      (keydown.enter)="login()"
      maxlength="16"
    >
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>

    <div class="forgot-password">
      <p
        (click)="forgotPassword()"
        class="cursor-pointer"
        (click)="forgotPassword()"
      >
        Forgot Password ?
      </p>
    </div>
  </ion-card-content>

  <ion-button
    color="primary"
    expand="block"
    class="ion-margin-vertical login-btn"
    (click)="login()"
    >Login</ion-button
  >
  <p class="ion-text-center or">OR</p>
  <ion-button expand="block" class="google-login" (click)="onSignInWithGoogle()"
    >
    <ion-icon name="logo-google"></ion-icon>
    <span>Continue with Google</span>
  </ion-button>

  <div class="toggle-card ion-text-center">
    <p>
      New to Secrets ?
      <span (click)="toggle()"> Create an account</span>
    </p>
  </div>
</ng-container>

<ng-container *ngIf="isForgotPasswordScreen">
  <div class="fp-header">
    <ion-icon name="arrow-back" (click)="backToLogin()"></ion-icon>
    <ion-card-header class="ion-no-padding fp-header">
      <ion-card-title>Reset Password</ion-card-title>
    </ion-card-header>
  </div>

  <app-alert-box
    *ngIf="passwordResetEmailSent"
    [headerIcon]="'refresh'"
    [headerTitle]="'Password Reset link Sent Successfully!'"
    [contentText]="
      'Check your inbox (and spam) to reset your password. Note : Only If an account with this email exists, a reset link will be sent.'
    "
    [alertColor]="'var(--ion-color-success)'"
    (_depressAlert)="closePRE()"
  ></app-alert-box>

  <ion-card-content class="ion-no-padding fp-content">
    <ion-input
      type="email"
      labelPlacement="stacked"
      placeholder="Enter Email"
      [(ngModel)]="userDetails.email"
    ></ion-input>
    <ion-button expand="block" (click)="resetPassword()">Reset</ion-button>
  </ion-card-content>
</ng-container>
