ion-card-title {
  font-weight: 500;
  color: var(--ion-background-color);
  @media (max-width: 576px) {
    text-align: center;
    font-size: 24px;
  }
}
ion-card-content {
  ion-input {
    color: var(--ion-background-color);
    border-bottom: 1px solid #c4c4c4;
    font-size: 16px;
    min-height: 56px;

    @media (max-width: 576px) {
      min-height: 45px;
    }

    input {
      border: none !important;
    }
  }
  .forgot-password {
    margin: 15px 0;
    float: right;
    p {
      color: var(--ion-color-primary);
      border-bottom: 1px dotted var(--ion-color-primary);
    }
  }
}

.toggle-card {
  span {
    cursor: pointer;
    color: var(--ion-color-primary);
    border-bottom: 1px dotted var(--ion-color-primary);
  }
}

.google-login {
  --background: transparent !important;
  border: 1px solid var(--ion-color-primary);
  border-radius: 16px;
  color: var(--ion-color-primary);
  span {
    padding-left: 5px;
  }
  &:hover {
    color: #fff;
  }
}

.email-verification-sent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  img {
    // height: 80%;
  }
  p {
    font-style: italic;
    color: var(--ion-background-color);
    font-size: 16px;

    span {
      color: var(--ion-color-primary);
    }
  }
}

#passwordHealth {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 0;
  align-items: center;
  margin: 10px 0;
  gap: 10px;
  li {
    width: 100%;
    list-style: none;
    height: 10px;
    // background: linear-gradient(to right, #34C759 66%, #c4c4c4 50%);
    border-radius: 8px;
  }
  .password-strength {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    min-width: max-content;
    // width: 45%;
    p {
      margin: 0;
      padding: 0;
    }
    ion-icon {
      font-size: 18px;
    }
  }
}

.signup-btn {
  margin-bottom: 0;
}

.or {
  margin: 10px 0;
}

.resend-email {
  display: flex;
  gap: 5px;
  p {
    user-select: none;
    font-style: normal;
    margin-top: 0;
    &:first-child {
      color: var(--ion-color-primary);
      border-bottom: 1px dotted var(--ion-color-primary);
      cursor: pointer;
    }
  }
}
