<ng-container *ngIf="!emailVerificationSent">
  <ion-card-header class="ion-no-padding">
    <ion-card-title>Sign Up</ion-card-title>
  </ion-card-header>

  <ion-card-content class="ion-no-padding">
    <ion-input
      type="text"
      placeholder="Enter Full Name"
      [(ngModel)]="userDetails.fullName"
      (keyup)="onFullName()"
      maxlength="20"
    >
    </ion-input>

    <ion-input
      type="email"
      placeholder="Enter Email Id."
      [(ngModel)]="userDetails.email"
    >
    </ion-input>

    <ion-input
      type="password"
      placeholder="Setup Strong Password"
      [(ngModel)]="userDetails.password"
      (ionInput)="onPassword()"
      maxlength="16"
    >
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>

    <ul id="passwordHealth" *ngIf="activePasswordHealth !== ''">
      <li
        [ngStyle]="{
          background:
            'linear-gradient(to right, ' +
            passwordHealth[activePasswordHealth].color +
            ' 0%, ' +
            passwordHealth[activePasswordHealth].color +
            ' ' +
            passwordHealth[activePasswordHealth].width +
            '%, ' +
            '#c4c4c4 ' +
            passwordHealth[activePasswordHealth].width +
            '%, #c4c4c4 100%)'
        }"
      ></li>
      <div class="password-strength">
        <p>Password Strength :</p>
        <p [ngStyle]="{ color: passwordHealth[activePasswordHealth].color }">
          {{ passwordHealth[activePasswordHealth].label }}
        </p>
        <ion-icon
          name="information-circle"
          [tooltip]="passwordHealth[activePasswordHealth].info"
          container="body"
          [adaptivePosition]="true"
          [ngStyle]="{ color: passwordHealth[activePasswordHealth].color }"
        ></ion-icon>
      </div>
    </ul>
  </ion-card-content>

  <ion-button
    color="primary"
    expand="block"
    class="ion-margin-vertical signup-btn"
    (click)="signUpWithEmailAndPassword()"
    >Sign Up</ion-button
  >

  <p class="ion-text-center or">OR</p>
  <ion-button expand="block" class="google-login" (click)="onSignInWithGoogle()"
    ><ion-icon name="logo-google"></ion-icon>
    <span>Continue with Google</span>
  </ion-button>

  <div class="toggle-card ion-text-center">
    <p>Already have Secrets ? <span (click)="toggle()"> Login</span></p>
  </div>
</ng-container>

<ng-container *ngIf="emailVerificationSent">
  <div class="email-verification-sent">
    <img src="../../../../../assets/images/download.png" alt="" />
    <p>
      <span>Almost there!</span> We've sent a verification email to your inbox.
      Click the link inside to activate your account and start using the app!
    </p>
    <div class="resend-email">
      <p (click)="resendEmailVerification()">Resend Verification Email</p>
    </div>
  </div>
</ng-container>
