<ion-app *ngIf="isOnline">
  <ion-spinner
    name="lines"
    color="primary"
    class="loader"
    *ngIf="isLoading | async"
  ></ion-spinner>
  <app-header></app-header>
  <app-desktop-sidebar
    *ngIf="isLoggedIn$ | async"
    class="ion-hide-sm-down"
  ></app-desktop-sidebar>
  <ion-router-outlet></ion-router-outlet>
  <app-bottom-tab
    *ngIf="isLoggedIn$ | async"
    class="ion-hide-sm-up"
  ></app-bottom-tab>
</ion-app>

<ng-container *ngIf="!isOnline">
  <div class="negative-container">
    <!-- <div class="img-container"> -->
    <img src="../assets/images/No connection-bro.png" alt="" />
    <p>No Internet Connection. Please check your network!</p>
    <!-- </div> -->
  </div>
</ng-container>
