<ion-content>
  <ion-row>
    <ion-col>
      <div class="notication-center ml-150">
        <div
          class="clear-all"
          (click)="clearAll()"
          *ngIf="notifications.length > 0"
        >
          <p>Clear All</p>
        </div>

        <ion-card
          *ngFor="let notification of notifications"
          (click)="route(notification)"
        >
          <div class="card">
            <div class="content">
              <div class="d-flex ion-align-items-center w-90">
                <app-avatar [size]="40" [avatar]="notification.photoURL"></app-avatar>
                <div class="right ml-10">
                  <p>{{notification?.message}}</p>
                  <p class="time">{{notification?.createdOn}}</p>
                </div>
              </div>
              <ion-icon name="enter-outline" color="primary"></ion-icon>
            </div>
          </div>
        </ion-card>

        <ng-container *ngIf="noNotificationText && !isAPIError">
          <div class="negative-container">
            <div class="img-container">
              <img src="../../../../assets/images/No data-cuate.png" alt="" />
              <p>{{ noNotificationText }}</p>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="isAPIError">
          <div class="negative-container">
            <div class="img-container">
              <img
                src="../../../../assets/images/Man thinking-bro.png"
                alt=""
              />
              <p>{{ noNotificationText }}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
