<ion-content>
  <ion-row>
    <ion-col>
      <div class="notication-center ml-150">
        <div
          class="clear-all"
          (click)="clearAll()"
          *ngIf="notifications.length > 0"
        >
          <p>Clear All</p>
        </div>

        <ion-card
          *ngFor="let notification of notifications"
          (click)="route(notification)"
        >
          <div class="card">
            <div class="content">
              <div class="left">
                <img
                  src="../../../assets/images/178833146_10699101.png"
                  alt=""
                />
              </div>
              <div class="right">
                <p>{{notification?.message}}</p>
                <p class="time">{{notification?.createdOn}}</p>
              </div>
              <!-- <ion-icon
                name="trash-outline"
                color="danger"
                (click)="deleteNotification(notification, $event)"
              ></ion-icon> -->
              <!-- <ion-icon
                *ngIf="notification?.redirectTo"
                name="chevron-forward"
                color="primary"
                (click)="route(notification)"
              ></ion-icon> -->
            </div>
          </div>
        </ion-card>

        <ng-container *ngIf="noNotificationText && !isAPIError">
          <div class="negative-container">
            <div class="img-container">
              <img src="../../../../assets/images/No data-cuate.png" alt="" />
              <p>{{ noNotificationText }}</p>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="isAPIError">
          <div class="negative-container">
            <div class="img-container">
              <img
                src="../../../../assets/images/Man thinking-bro.png"
                alt=""
              />
              <p>{{ noNotificationText }}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
