#forgot-password-modal {
  .outer-div {
    position: relative;
  }

  .wrapper {
    margin: 1rem;
    &-header {
      h1 {
        margin: 0 !important;
        font-size: 22px;
        color: var(--ion-color-primary);
        font-weight: 500;
      }
      ion-icon {
        font-size: 30px;
        color: var(--ion-color-primary);
      }
    }

    .content {
      p {
        margin-bottom: 0;
      }
      ion-input {
        border-bottom: 1px solid #c4c4c4;
        --placeholder-color: var(--ion-background-color);
      }
      ion-button {
        margin-top: 1rem;
      }
    }
  }

  .first-screen {
    transform: translateY(0px);
    transition: transform 0.5s ease-in-out;
  }
  .second-secreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(300px);
    transition: transform 0.5s ease-in-out;
  }
}

.move-out-of-view {
  transform: translateY(-300px) !important;
}

.move-in-to-view {
  transform: translateY(0px) !important;
}
