<ion-modal
  id="forgot-password-modal"
  class="modal"
  [isOpen]="isModalOpen"
  [backdropDismiss]="false"
>
  <ng-template>
    <div class="outer-div" #forgotPasswordContainer>
      <!-- First Screen -->
      <div
        class="wrapper first-screen"
        [class.move-out-of-view]="isSuccessfullVerification"
      >
        <!-- Header -->
        <div
          class="wrapper-header d-flex ion-justify-content-between ion-align-items-center"
        >
          <h1>{{ firstScreenHeader }}</h1>
          <ion-icon name="close" class="clickable" (click)="close()"></ion-icon>
        </div>

        <!-- Forgot Password Content -->
        <div class="content" *ngIf="firstScreenHeader === 'Forgot Password'">
          <p>
            Please enter Username & Security ID you received during sign-up to
            reset your password.
          </p>
          <ion-input
            placeholder="Enter Username"
            [(ngModel)]="username"
          ></ion-input>
          <ion-input
            placeholder="Enter Security ID"
            [(ngModel)]="secureId"
          ></ion-input>
          <ion-button color="primary" expand="block" (click)="onContinue()"
            >Continue</ion-button
          >
        </div>

        <!-- Change Password Content -->
        <div class="content" *ngIf="firstScreenHeader === 'Change Password'">
          <p>Please enter Current Password.</p>
          <ion-input
            type="password"
            placeholder="Enter Current Password"
            [(ngModel)]="currentPassword"
          >
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
          <ion-button
            color="primary"
            expand="block"
            (click)="onContinueWithCurrentPassword()"
            >Continue</ion-button
          >
        </div>

        <!-- Change Full Name Content -->
        <div class="content" *ngIf="firstScreenHeader === 'Change Full Name'">
          <ion-input
            type="text"
            placeholder="Enter Current Password"
            [(ngModel)]="_currentFullName"
          >
          </ion-input>
          <ion-button color="primary" expand="block" (click)="changeFullName()"
            >Update Full Name</ion-button
          >
        </div>
      </div>

      <!-- Second Screen -->
      <div
        class="wrapper second-secreen "
        [class.move-in-to-view]="isSuccessfullVerification"
      >
        <!-- Header -->
        <div
          class="wrapper-header d-flex ion-justify-content-between ion-align-items-center"
        >
          <h1>{{ secondScreenHeader }}</h1>
          <ion-icon name="close" class="clickable" (click)="close()"></ion-icon>
        </div>
        <div class="content">
          <ion-input
            type="password"
            placeholder="Enter New Password"
            [(ngModel)]="password"
          >
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
          <ion-input
            type="password"
            placeholder="Confirm New Password"
            [(ngModel)]="confirmPassword"
          >
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>

          <ion-button
            color="primary"
            expand="block"
            (click)="onUpdatePassword()"
            >{{
              this.firstScreenHeader === "Forgot Password" ? "Change" : "Update"
            }}
            Password</ion-button
          >
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>
