<ion-modal
  id="forgot-password-modal"
  class="modal"
  [isOpen]="isModalOpen"
  [backdropDismiss]="false"
>
  <ng-template>
    <div class="outer-div">
      <div
        class="wrapper first-screen"
        [class.move-out-of-view]="isSuccessfullVerification"
      >
        <div
          class="wrapper-header d-flex ion-justify-content-between ion-align-items-center"
        >
          <h1>Forgot Password</h1>
          <ion-icon name="close" class="clickable" (click)="close()"></ion-icon>
        </div>
        <div class="content">
          <p>
            Please enter Username & Security ID you received during sign-up to
            reset your password.
          </p>
          <ion-input
            placeholder="Enter Username"
            [(ngModel)]="username"
          ></ion-input>
          <ion-input
            placeholder="Enter Security ID"
            [(ngModel)]="secureId"
          ></ion-input>
          <ion-button color="primary" expand="block" (click)="onContinue()"
            >Continue</ion-button
          >
        </div>
      </div>

      <div
        class="wrapper second-secreen"
        [class.move-in-to-view]="isSuccessfullVerification"
      >
        <div
          class="wrapper-header d-flex ion-justify-content-between ion-align-items-center"
        >
          <h1>Reset Password</h1>
          <ion-icon name="close" class="clickable" (click)="close()"></ion-icon>
        </div>
        <div class="content">
          <ion-input
            placeholder="Enter New Password"
            [(ngModel)]="password"
          ></ion-input>
          <ion-input
            placeholder="Confirm New Password"
            [(ngModel)]="confirmPassword"
          ></ion-input>
          <ion-button
            color="primary"
            expand="block"
            (click)="onUpdatePassword()"
            >Update Password</ion-button
          >
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>
