#forgot-password-modal {
  min-height: auto !important;
  overflow: hidden;
  .outer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: auto;
    width: 100%;
    padding: 0.5rem 1rem;
    transition: height 0.5s ease;
  }

  .wrapper {
    margin: 1rem;
    min-height: auto;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
    &-header {
      h1 {
        margin: 0 !important;
        font-size: 22px;
        color: var(--ion-color-primary);
        font-weight: 500;
      }
      ion-icon {
        font-size: 30px;
        color: var(--ion-color-primary);
      }
    }

    .content {
      p {
        margin-bottom: 0;
        margin-top: 5px;
        font-size: 14px;
      }
      ion-input {
        border-bottom: 1px solid #c4c4c4;
        --placeholder-color: var(--ion-background-color);
        input {
          border: none !important;
        }
      }
      ion-button {
        margin-top: 1rem;
      }
    }
  }

  .first-screen {
    min-height: auto; // Let it expand naturally
    width: 100%;
  }

  .first-screen {
    transform: translateY(0px);
    transition: transform 0.5s ease-in-out;
  }
  .second-secreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(100vh);
    transition: transform 0.5s ease-in-out;
  }
}

.move-out-of-view {
  transform: translateY(-100vh) !important;
}

.move-in-to-view {
  transform: translateY(0px) !important;
}

ion-button {
  --background-activated: transparent !important;
}
