<ion-content
  [fullscreen]="true"
  class="d-flex ion-align-items-center ion-justify-content-center ion-padding login-container"
>
  <ion-grid class="login-container-content ion-no-padding">
    <ion-row
      class="ion-no-padding ion-align-items-center ion-justify-content-evenly"
    >
      <ion-col
        class="ion-no-padding"
        size="12"
        size-sm="12"
        size-md="6"
        size-lg="5"
      >
        <div class="introduction">
          <h1>"Your <span>Secrets,</span> locked tighter than ever"</h1>
          <p>
            Capture, Organize & Secure your passwords, secure notes, thoughts or
            any text with end-to-end encryption, ensuring only you hold the key
            to unlock them.
          </p>
          <a
            >Login to learn more
            <ion-icon name="arrow-forward"></ion-icon>
          </a>
        </div>
      </ion-col>

      <ion-col
        class=""
        class="ion-no-padding"
        size="12"
        size-sm="12"
        size-md="6"
        size-lg="4"
      >
        <div class="login" [class.height-340]="isSliding">
          <!-- Login -->
          <ion-card
            class="login-card ion-padding"
            *ngIf="!isSliding"
            [@slideAnimation]="'in'"
          >
            <ion-card-header class="ion-no-padding">
              <ion-card-title>Login</ion-card-title>
            </ion-card-header>

            <ion-card-content class="ion-no-padding">
              <ion-input
                labelPlacement="stacked"
                placeholder="Enter Username"
                [(ngModel)]="username"
              ></ion-input>

              <ion-input
                type="password"
                labelPlacement="stacked"
                placeholder="Enter Password"
                [(ngModel)]="password"
              >
                <ion-input-password-toggle
                  slot="end"
                ></ion-input-password-toggle>
              </ion-input>

              <div class="forgot-password">
                <p (click)="forgotPassword()">Forgot Password</p>
              </div>
            </ion-card-content>

            <ion-button
              color="primary"
              expand="block"
              class="ion-margin-vertical"
              (click)="login()"
              >Login</ion-button
            >

            <div class="toggle-card ion-text-center">
              <p>
                New to SECRETS ?
                <span (click)="toggle()"> Create an account</span>
              </p>
            </div>
          </ion-card>
          <!-- Sign up -->
          <ion-card
            class="login-card ion-padding"
            *ngIf="isSliding"
            [@slideAnimation]="'in'"
          >
            <ion-card-header class="ion-no-padding">
              <ion-card-title>Sign Up</ion-card-title>
            </ion-card-header>

            <ion-card-content class="ion-no-padding">
              <ion-input
                labelPlacement="stacked"
                placeholder="Create Username"
                [(ngModel)]="username"
                (ionBlur)="onInputBlur()"
                class="relative"
              >
                <ion-spinner
                  class="spinner"
                  name="bubbles"
                  *ngIf="showSpinner"
                ></ion-spinner>
                <ion-icon
                  class="checkmark"
                  color="success"
                  name="checkmark-circle"
                  *ngIf="showSucessIcon"
                ></ion-icon>
                <ion-icon
                  name="close-circle"
                  class="checkmark"
                  color="danger"
                  *ngIf="isUserNameValid == false"
                ></ion-icon>
              </ion-input>

              <ion-input
                type="password"
                labelPlacement="stacked"
                placeholder="Create Password"
                [(ngModel)]="password"
              >
                <ion-input-password-toggle
                  slot="end"
                ></ion-input-password-toggle>
              </ion-input>
              <ion-input
                type="password"
                labelPlacement="stacked"
                placeholder="Re-enter Password"
                [(ngModel)]="confirmPassword"
              >
                <ion-input-password-toggle
                  slot="end"
                ></ion-input-password-toggle>
              </ion-input>
            </ion-card-content>

            <ion-button
              color="primary"
              expand="block"
              class="ion-margin-vertical"
              (click)="signup()"
              >Sign Up</ion-button
            >

            <div class="toggle-card ion-text-center">
              <p>
                Already have SECRETS ? <span (click)="toggle()"> Login</span>
              </p>
            </div>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-show-user-id
  [isModalOpen]="isUserIdModalOpen"
  [userId]="signUpUserId"
  (continueToLogin)="toggle()"
></app-show-user-id>

<app-forgot-password-modal
  [isModalOpen]="isForgotPasswordModalOpen"
  (setModalOpenToFalse)="isForgotPasswordModalOpen = false"
></app-forgot-password-modal>
