.login-container {
  &-content {
    // height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
    .introduction {
      text-align: center;
      @media (min-width: 768px) {
        text-align: left;
      }
      h1 {
        margin: 0;
        letter-spacing: 1px;
        font-size: 22px;
        @media (min-width: 998px) {
          font-size: 2.625rem;
        }
        span {
          color: #ff7f50;
          font-weight: 700;
        }
      }
      p {
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 15px;
        @media (min-width: 900px) {
          font-size: 18px;
        }
      }
      a {
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        font-size: 18px;
        border-bottom: 1px dotted var(--ion-color-primary);
        ion-icon {
          font-size: 18px;
          padding-left: 5px;
          vertical-align: middle;
        }
      }
    }
    .login {
      border: 2px solid #c4c4c4;
      border-radius: 8px;
      margin: 1.5rem 0;
      position: relative;
      min-height: auto;
      overflow: hidden;
      transition: height 0.5s ease;
      &-card {
        width: 100%;
        --background: transparent !important;
        ion-card-title {
          font-weight: 500;
          color: var(--white);
        }
        ion-card-content {
          ion-input {
            color: #ffffff;
            border-bottom: 1px solid #c4c4c4;
            font-size: 18px;

            input {
              border: none !important;
            }
          }
          .forgot-password {
            margin: 15px 0;
            float: right;
            p {
              color: var(--ion-color-primary);
              border-bottom: 1px dotted var(--ion-color-primary);
            }
          }
        }
        .toggle-card {
          span {
            cursor: pointer;
            color: var(--ion-color-primary);
            border-bottom: 1px dotted var(--ion-color-primary);
          }
        }
      }
    }
  }
}

// .height-340 {
//   height: 360px !important;
// }

.spinner,
.checkmark {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.checkmark {
  font-size: 25px;
}

ion-button {
  --background-activated: transparent !important;
}

// .login-animate {
//   transform: translateX(0px) !important;
//   transition: transform 0.5s ease-in-out;
// }

// .signup-animate {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   transform: translateX(50vw);
//   transition: transform 0.5s ease-in-out;
// }

// .move-out-of-view {
//   transform: translateX(-50vw) !important;
// }

// .move-in-to-view {
//   transform: translateX(0px) !important;
// }