<!-- WEB -->

<div class="login-container ion-hide-md-down">
  <div class="left">
    <ion-img src="../../../assets/logo/SECRETES.png" id="logo"></ion-img>
    <ng-container *ngTemplateOutlet="appOverview"></ng-container>
  </div>
  <div class="right">
    <div>
      <ng-container *ngTemplateOutlet="signIn"></ng-container>
    </div>
  </div>
</div>

<!-- MOBILE -->
<ion-content
  [fullscreen]="true"
  class="d-flex ion-align-items-center ion-justify-content-center ion-no-padding login-container-sm ion-hide-md-up"
>
  <ion-grid class="login-container-sm-content ion-no-padding">
    <ion-row
      class="ion-no-padding ion-align-items-center ion-justify-content-between"
    >
      <ion-col size="12" class="introduction-col">
        <ion-img src="../../../assets/logo/SECRETES.png" id="logo"></ion-img>
        <ng-container *ngTemplateOutlet="appOverview"></ng-container>
      </ion-col>

      <div class="login-modal">
        <ng-container *ngTemplateOutlet="signIn"></ng-container>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template #appOverview>
  <div class="introduction">
    <h1>"Your <span>Secrets,</span> locked tighter than ever"</h1>
    <p class="ion-hide-sm-down">
      Capture, Organize & Secure your passwords, secure notes, thoughts or any
      text with end-to-end encryption, ensuring only you hold the key to unlock
      them.
    </p>
    <p class="ion-hide-sm-up">
      Securely store and encrypt your passwords, notes, and thoughts : only you
      can unlock them.
    </p>
    <a class="cursor-pointer ion-hide-md-down">Login to Learn more </a>
  </div>
</ng-template>

<ng-template #signIn>
  <div class="login" #loginContainer>
    <ion-card
      *ngIf="!isSignUpPage"
      class="login-card ion-padding ion-no-margin login-animate"
    >
      <app-login-component
        (_toggle)="toggle()"
        (_setDynamicHeight)="setDynamicHeight()"
      ></app-login-component>
    </ion-card>
    <ion-card
      *ngIf="isSignUpPage"
      class="login-card ion-padding ion-no-margin signup-animate"
    >
      <app-signup
        (_toggle)="toggle()"
        (_setDynamicHeight)="setDynamicHeight()"
      ></app-signup>
    </ion-card>
  </div>
</ng-template>
