<div
  *ngIf="(loaderService.isLoading$ | async) === false && showHeader && folders && folders.length > 0"
  class="my-folders-header d-flex ion-justify-content-between ion-align-items-center"
>
  <h2>My Folders</h2>
  <p [routerLink]="'/my-folders'">View All</p>
</div>

<div
  *ngIf="(loaderService.isLoading$ | async) === true && showHeader"
  class="my-folders-header-skeleton d-flex ion-justify-content-between ion-align-items-center"
>
  <h2></h2>
  <p></p>
</div>

<ion-row>
  <ion-col class="folders ion-no-padding" [class.scrollable]="setScrollableX">
    <div class="folder-grid" [class.scrollable]="setScrollableX">
      <ng-container *ngIf="(loaderService.isLoading$ | async) === true">
        <div
          class="skeleton-folder folder"
          *ngFor="let folder of [1, 2, 3]"
        ></div>
      </ng-container>

      <ng-container *ngIf="(loaderService.isLoading$ | async) === false">
        <div
          class="folder clickable"
          *ngFor="let folder of folders"
          [ngStyle]="{ backgroundColor: folder?.folderColor }"
          (click)="onSelectingFolder(folder)"
        >
          <div class="folder-tab"></div>
          <div
            class="folder-line-1"
            [ngStyle]="{
              background:
                'linear-gradient(45deg, ' +
                folder?.folderColor +
                ' 50%, #030619 50%)'
            }"
          ></div>
          <div
            class="folder-line-2"
            [ngStyle]="{ backgroundColor: folder?.folderColor }"
          ></div>
          <div class="folder-line-3"></div>

          <div
            class="content d-flex ion-justify-content-between ion-align-items-center w-100"
          >
            <p>{{ folder?.folderName }}</p>
            <ion-icon
              color="dark"
              name="ellipsis-vertical"
              (click)="on3Dots(folder, $event)"
            ></ion-icon>
          </div>
        </div>
      </ng-container>
    </div>
  </ion-col>
</ion-row>

<app-create-folder-modal
  [isModalOpen]="isModalOpen"
  [folders]="folders"
  (fetchFolders)="fetchFolders($event)"
  (setModalFalse)="isModalOpen = false"
  [selectedFolder]="selectedFolder"
></app-create-folder-modal>

<app-select-color-modal
  [isModalOpen]="isColorModalOpen"
  (fetchFolders)="fetchFolders($event)"
  (setModalFalse)="isColorModalOpen = false"
  [selectedFolder]="selectedFolder"
></app-select-color-modal>
