.folders {
  display: flex;
  justify-content: left; /* Center the grid */
  overflow: hidden; /* Prevent scrolling initially */
  transition: all 0.3s ease-in-out;

  .content {
    p {
      width: 90%;
      text-wrap: wrap;
    }
  }
}

.folder-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 15px;
  width: 100%;
  max-width: 600px;
  transition: all 0.3s ease-in-out;
}

.folders.scrollable {
  overflow-x: auto;
  white-space: nowrap;
  justify-content: flex-start;
  &::-webkit-scrollbar {
    display: none;
  }
}

.folder-grid.scrollable {
  display: flex;
  flex-wrap: nowrap;
}

.folder-grid.scrollable .folder {
  flex: 0 0 130px; /* Prevent shrinking */
  min-width: 130px;
  max-width: 130px;
}

.skeleton-folder {
  background-color: #e0e0e0;
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.my-folders {
  &-header {
    h2 {
      font-size: 18px;
    }
    p {
      color: var(--ion-color-primary);
      border-bottom: 1px dotted var(--ion-color-primary);
      font-size: 14px;
      font-weight: 500;
      // width: 70px;
    }
    &-skeleton {
      h2,
      p {
        height: 20px;
        border-radius: 4px;
        background-color: #e0e0e0;
        animation: pulse 1s infinite alternate;
      }
      h2 {
        width: 100px;
      }
      p {
        width: 60px;
      }
    }
    .right-side {
      ion-icon {
        font-size: 18px;
      }
    }
  }
}
