.folders {
  display: flex;
  justify-content: center; /* Center the grid */
  overflow: hidden; /* Prevent scrolling initially */
  transition: all 0.3s ease-in-out;

  .content{
    p{
      width: 90%;
      text-wrap: wrap;
    }
  }
}

.folder-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 15px;
  width: 100%;
  max-width: 600px;
  transition: all 0.3s ease-in-out;
}

.folders.scrollable {
  overflow-x: auto;
  white-space: nowrap;
  justify-content: flex-start;
  &::-webkit-scrollbar {
    display: none;
  }
}

.folder-grid.scrollable {
  display: flex;
  flex-wrap: nowrap;
}

.folder-grid.scrollable .folder {
  flex: 0 0 130px; /* Prevent shrinking */
  min-width: 130px;
  max-width: 130px;
}


