<ion-content [fullscreen]="true" class="ion-padding-horizontal dashboard">
  <div class="dashboard-center ml-150">
    <app-folders-reusable
      [folders]="folders?.slice(0,4)"
      [setScrollableX]="true"
      (onFolderSelection)="openFolder($event)"
      (_fetchFolders)="fetchFolders()"
      (onNewFolder)="setOpenModal(true)"
    ></app-folders-reusable>
    <app-secret-cards [secrets]="secrets"></app-secret-cards>
  </div>
</ion-content>

<app-create-folder-modal
  [isModalOpen]="isModalOpen"
  [folders]="folders"
  [loggedInUserDetails]="loggedInUserDetails"
  (fetchFolders)="fetchFolders()"
  (setModalFalse)="isModalOpen = false"
></app-create-folder-modal>
