:host ::ng-deep ion-input input {
  font-size: 18px;
  border-bottom: 1px solid var(--ion-background-color) !important;
}

ion-button {
  --background-activated: transparent !important;
}

.dashboard {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.h-100{
  height: unset !important;
  padding-bottom: 3rem;
}
