<ion-content [fullscreen]="true" class="ion-padding-horizontal dashboard">
  <div class="my-folders">
    <!-- *ngIf="folders && folders?.length > 0" -->
    

    <app-folders-reusable
      [folders]="folders?.slice(0,4)"
      [setScrollableX]="true"
      (onFolderSelection)="openFolder($event)"
      (_fetchFolders)="fetchFolders()"
    ></app-folders-reusable>
  </div>
  <app-secret-cards [secrets]="secrets"></app-secret-cards>
</ion-content>

<div>
  <ion-icon
    name="add-circle"
    class="plus clickable"
    (click)="onAdd()"
  ></ion-icon>

  <app-create-folder-modal
    [isModalOpen]="isModalOpen"
    [folders]="folders"
    [loggedInUserDetails]="loggedInUserDetails"
    (fetchFolders)="fetchFolders()"
    (setModalFalse)="isModalOpen = false"
  ></app-create-folder-modal>
</div>
