<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <div class="ml-150">
    <app-folders-reusable
      [folders]="folders"
      [setScrollableX]="true"
      (onFolderSelection)="openFolder($event)"
      (_fetchFolders)="fetchFolders()"
      (onNewFolder)="isCreateFolderModalOpen = true"
    ></app-folders-reusable>
    <app-secret-cards
      [secrets]="secrets"
      [noSecretText]="noSecretText"
      [isAPIError]="isAPIError"
    ></app-secret-cards>
  </div>
</ion-content>

<app-create-folder-modal
  [isModalOpen]="isCreateFolderModalOpen"
  [folders]="folders"
  (fetchFolders)="fetchFolders()"
  (setModalFalse)="isCreateFolderModalOpen = false"
></app-create-folder-modal>
