.dashboard {
  height: 100vh;
  .my-folders {
    &-header {
      h2 {
        font-size: 18px;
      }
      p {
        color: var(--ion-color-primary);
        border-bottom: 1px dotted var(--ion-color-primary);
        font-size: 14px;
        font-weight: 500;
      }
    }
    &-list {
      display: flex;
      overflow-x: auto;
      gap: 10px;
      margin-top: 10px;
      &::-webkit-scrollbar {
        display: none;
      }

      .folder {
        max-width: 130px;
        width: 33%;
        height: 100px;
        flex-shrink: 0;
      }
    }
  }

  .my-secrets {
    margin-top: 1rem;
    &-header {
      h2 {
        font-size: 18px;
      }
      p {
        color: var(--ion-color-primary);
        border-bottom: 1px dotted var(--ion-color-primary);
        font-size: 14px;
        font-weight: 500;
      }
    }
    &-content {
      border: 1px solid #c4c4c4;
      background: #e4e4e4;
      margin: 0;
      margin-bottom: 10px;
      margin-top: 10px;

      ion-card-header {
        padding-bottom: 5px;

        ion-card-title {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;

          p {
            width: 75%;
            margin: 0;
          }

          .actions {
            gap:5px;
            ion-icon {
              font-size: 22px;
            }
          }
        }
      }
      ion-card-title {
        color: var(--ion-background-color);
        font-size: 18px;
      }
      ion-card-content {
        color: var(--ion-background-color);
        font-size: 16px;
        small {
          opacity: 0.6;
        }
      }
    }
  }

  
}

::ng-deep ion-input input {
  font-size: 18px;
  border-bottom: 1px solid var(--ion-background-color) !important;
}

#add-folder-modal {
  .wrapper {
    margin: 1rem;
    h1 {
      margin: 0 !important;
    }
    content {
      padding: 10px;
    }
  }
}



.plus {
  font-size: 60px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  color: var(--ion-color-primary);
}

ion-button {
  --background-activated : transparent !important;
}