.dashboard {
  // height: 100vh;
 
}

::ng-deep ion-input input {
  font-size: 18px;
  border-bottom: 1px solid var(--ion-background-color) !important;
}

ion-button {
  --background-activated: transparent !important;
}
