/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

// Custom Imports
@import "./theme/utility.scss";
@import "./theme/folder.scss";
@import "./theme/negative.scss";

* {
  font-family: "Poppins", sans-serif !important; /* Apply to all elements */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-touch-callout: none;
}

.custom-action-sheet {
  --background: #fff !important; /* Change to your desired color */
  --ion-background-color: #fff !important; /* Ensures proper theming */
}

.custom-popover {
  --background: #fff !important;
  --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
  --color: var(--ion-background-color);
}

.custom-popover ion-content {
  --background: #fff !important;
  --color:#000 !important;
}

@media (min-width: 768px) {
  // .custom-action-sheet .action-sheet-group {
  //   max-width: 400px; /* Control width */
  //   margin: auto; /* Center it */
  //   border-radius: 10px;
  //   // bottom: 0;
  //   top:50%;
  //   left:50%;
  //   transform:translate(-50%,-50%);
  //   position: fixed;
  // }
}

.custom-action-sheet .action-sheet-button {
  font-size: 18px !important;
  border-bottom: 1px solid #c4c4c4;
}

.custom-action-sheet .action-sheet-button:active {
  transform: scale(0.95);
  opacity: 0.7;
  transition: all 0.1s ease-in-out;
}

.custom-action-sheet .action-sheet-title {
  display: none;
}

.custom-action-sheet .action-sheet-group-cancel {
  background: var(--white) !important;
}

.custom-action-sheet .action-sheet-cancel::after {
  background-color: var(--white) !important;
}

.need-header .action-sheet-title {
  display: block !important;
  font-size: 16px;
  color: var(--ion-color-primary);
}

ion-modal.modal {
  // --width: fit-content;
  --max-width: 300px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  --background: var(--white) !important;
  color: var(--ion-background-color);
}

ion-modal.share-modal {
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  --background: var(--white);
  color: var(--ion-background-color);
}

ion-modal.share-modal ion-content,
ion-modal.share-modal ion-item {
  --background: var(--white) !important;
  color: var(--ion-background-color);
}

ion-modal.share-modal ion-content {
  max-height: unset !important;
}

ion-modal.share-modal ion-searchbar {
  color: var(--ion-background-color);
  ion-icon {
    color: var(--ion-background-color);
  }
}

ion-modal.modal h1 {
  margin: 20px 20px 10px 20px;
}

// ion-modal.modal ion-icon {
//   margin-right: 6px;
//   width: 48px;
//   height: 48px;
//   padding: 4px 0;
//   color: #aaaaaa;
// }

ion-modal.modal .wrapper {
  margin-bottom: 10px;
}

// .custom-alert {
//   // --background: #1e1e1e; /* Change alert background color */
//   --color: var(--ion-color-primary); /* Change text color */
//   --ion-color-primary: var(--ion-color-primary); /* Change button color */
// }

/* Style the header */
.custom-alert .alert-title {
  color: var(--ion-color-primary); /* Change header color */
  font-weight: bold;
}

/* Style the subheader */

.custom-alert .alert-wrapper {
  background: #e5e5e5 !important;
}

.custom-alert .alert-sub-title {
  color: var(--ion-color-primary); /* Change subheader color */
  font-style: italic;
}

/* Style the message */
.custom-alert .alert-message {
  color: var(--ion-color-primary); /* Change message text color */
  font-size: 16px;
}

.custom-alert button.alert-button.alert-button-confirm {
  background-color: red;
  color: var(--white);
}

.custom-alert button.alert-button.alert-button-cancel {
  // background-color: red;
  color: blue;
}

.clickable:active {
  transform: scale(0.95);
  opacity: 0.7;
  transition: all 0.1s ease-in-out;
}

.clickable {
  cursor: pointer;
}

.custom-toast {
  color: white !important; /* Force white color */
}

ion-button:active {
  transform: scale(0.95);
  opacity: 0.7;
  transition: all 0.1s ease-in-out;
}

::ng-deep ion-button {
  --background-activated: red !important;
}

.plus {
  font-size: 60px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  color: var(--ion-color-primary);
}

ion-content {
  max-height: calc(90vh - 100px);
  @media (min-width: 900px) {
    max-height: 90vh;
  }
  &::-webkit-scrollbar {
    display: none !important;
  }
  // width: min(700px, 100%);
  // width: 700px;
  // margin: auto !important;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: end !important;
}

ion-button,
ion-icon {
  cursor: pointer !important;
}

ion-icon {
  flex-shrink: 0;
}
