/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

// Custom Imports
@import "./theme/utility.scss";
@import "./theme/folder.scss";

* {
  font-family: "Poppins", sans-serif; /* Apply to all elements */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-touch-callout: none;
}

.custom-action-sheet {
  --background: #fff !important; /* Change to your desired color */
  --ion-background-color: #fff !important; /* Ensures proper theming */
}

.custom-action-sheet .action-sheet-button {
  font-size: 18px !important;
  border-bottom: 1px solid #c4c4c4;
}

.custom-action-sheet .action-sheet-button:active {
  transform: scale(0.95);
  opacity: 0.7;
  transition: all 0.1s ease-in-out;
}

.custom-action-sheet .action-sheet-title {
  display: none;
}

ion-modal#add-folder-modal {
  // --width: fit-content;
  --max-width: 300px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  --background: var(--white);
  color: var(--ion-background-color);
}

ion-modal#add-folder-modal h1 {
  margin: 20px 20px 10px 20px;
}

ion-modal#add-folder-modal ion-icon {
  margin-right: 6px;
  width: 48px;
  height: 48px;
  padding: 4px 0;
  color: #aaaaaa;
}

ion-modal#add-folder-modal .wrapper {
  margin-bottom: 10px;
}

// .custom-alert {
//   // --background: #1e1e1e; /* Change alert background color */
//   --color: var(--ion-color-primary); /* Change text color */
//   --ion-color-primary: var(--ion-color-primary); /* Change button color */
// }

/* Style the header */
.custom-alert .alert-title {
  color: var(--ion-color-primary); /* Change header color */
  font-weight: bold;
}

/* Style the subheader */
.custom-alert .alert-sub-title {
  color: var(--ion-color-primary); /* Change subheader color */
  font-style: italic;
}

/* Style the message */
.custom-alert .alert-message {
  color: var(--ion-color-primary); /* Change message text color */
  font-size: 16px;
}

.custom-alert button.alert-button.alert-button-confirm {
  background-color: red;
  color: var(--white);
}

.custom-alert button.alert-button.alert-button-cancel {
  // background-color: red;
  color: blue;
}

.clickable:active {
  transform: scale(0.95);
  opacity: 0.7;
  transition: all 0.1s ease-in-out;
}

ion-button:active {
  transform: scale(0.95);
  opacity: 0.7;
  transition: all 0.1s ease-in-out;
}

::ng-deep ion-button {
  --background-activated : red !important;
}
