<ion-modal
  id="add-folder-modal"
  class="modal"
  [isOpen]="isModalOpen"
  (willDismiss)="onWillDismiss($event)"
  [backdropDismiss]="!disableSubmitBtn"
>
  <ng-template>
    <div class="wrapper">
      <h1>{{ _selectedFolder ? "Rename" : "Create" }} Folder</h1>
      <div class="content">
        <ion-input
          placeholder="Enter Folder Name"
          [(ngModel)]="folderName"
        ></ion-input>

        <div class="footer" [class.disabled]="disableSubmitBtn">
          <p class="submit cursor-pointer" (click)="onFolderCreation()" >Submit</p>
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>
