#add-folder-modal {
  .wrapper {
    margin: 1rem;
    h1 {
      margin: 0 !important;
      font-size: 18px;
      color:var(--ion-color-primary);
    }
    .content{
      ion-input{
        border-bottom: 1px solid #c4c4c4;
        input{
          border-bottom: none !important;
        }
      }
    }
    .footer {
      display: flex;
      justify-content: end;
      margin-top: 10px;
      .submit {
        color: var(--ion-color-primary);
        border-bottom: 1px dotted var(--ion-color-primary);
        margin: 0;
      }
    }
  }
}

ion-button {
  --background-activated: transparent !important;
}
