<ion-content>
  <ion-row class="ion-no-padding">
    <ion-col class="ion-no-padding">
      <div class="about-secrets ml-150">
        <ion-card class="ion-no-margin ion-margin-horizontal">
          <ion-card-header>
            <ion-card-title>About Secrets</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="main">
              <p>
                Secrets is a secure and private space designed for you to store
                and manage confidential information effortlessly. Whether it’s
                personal notes, sensitive data, or private messages, Secrets
                ensures end-to-end encryption, keeping your information safe
                from unauthorized access. With an intuitive interface and
                features like folder sharing, encryption, and access control,
                Secrets provides a seamless and secure experience for all users.
              </p>
            </div>

            <div class="why-secrets">
              <h2>Why Secrets ?</h2>
              <div class="why-secrets-scroll">
                <div class="why-secrets-scroll-card">
                  <img src="../../../assets/images/encrypted.png" />
                  <div class="content">
                    <p>End-to-End Encryption</p>
                    <p>Your secrets are encrypted and stored securely.</p>
                  </div>
                </div>
                <div class="why-secrets-scroll-card">
                  <img src="../../../assets/images/privacy.png" />
                  <div class="content">
                    <p>Privacy First</p>
                    <p>Secrets remain hidden until you decide to reveal them.</p>
                  </div>
                </div>
                <div class="why-secrets-scroll-card">
                  <img src="../../../assets/images/organize.png" />
                  <div class="content">
                    <p>Organized & Accessible</p>
                    <p>Easily manage and categorize your secrets.</p>
                  </div>
                </div>
                <div class="why-secrets-scroll-card">
                  <img src="../../../assets/images/share.png" />
                  <div class="content">
                    <p>Seamless Sharing</p>
                    <p>Share folders securely with trusted people, with instant notifications.</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="why-secrets">
              <h2>Why Secrets ?</h2>
              <ul>
                <li>
                  <div>
                    <ion-icon name="lock-closed"></ion-icon>
                    <p>
                      <span>End-to-End Encryption -</span>Your secrets are
                      encrypted and stored securely
                    </p>
                  </div>
                </li>
                <li>
                  <div>
                    <ion-icon name="eye"></ion-icon>
                    <p>
                      <span>Privacy First -</span>Secrets remain hidden until
                      you decide to reveal them.
                    </p>
                  </div>
                </li>
                <li>
                  <div>
                    <ion-icon name="folder-open"></ion-icon>
                    <p>
                      <span>Organized & Accessible -</span>Easily manage and
                      categorize your secrets.
                    </p>
                  </div>
                </li>
                <li>
                  <div>
                    <ion-icon name="people"></ion-icon>
                    <p>
                      <span>Seamless Sharing -</span>Share folders securely with
                      trusted people, with instant notifications.
                    </p>
                  </div>
                </li>
              </ul>
            </div> -->
            <!-- <swiper [slidesPerView]="1" [pagination]="true" [navigation]="true">
              <ng-template swiperSlide
                ><img src="../../../assets/images/encrypted.png"
              /></ng-template>
              <ng-template swiperSlide
                ><img src="../../../assets/images/privacy.png"
              /></ng-template>
              <ng-template swiperSlide>
                <img src="../../../assets/images/organize.png"
              /></ng-template>
            </swiper> -->

            <div class="footer">
              <p>
                With Secrets, you can trust that your private thoughts and
                sensitive information are in safe hands. Start storing your
                secrets today—
                <span class="italic"
                  >because some things are meant to stay private.</span
                >
              </p>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-no-padding">
    <ion-col class="ion-no-padding">
      <div class="about-secrets ml-150">
        <ion-card class="ion-no-margin ion-margin-horizontal bg-rahul">
          <ion-card-header>
            <ion-card-title>About the Developer</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="main">
              <!-- <div class="image-box">
                <img src="../../../assets/images/rahul.jpg" alt="">
              </div> -->
              <p>
                Secrets was built with a passion for privacy and security by
                <span>Rahul Shetty</span> who believe in digital
                confidentiality. My goal is to provide a user-friendly yet
                highly secure platform where users can store and share secrets
                without concerns about data breaches. I'm constantly working on
                improving the app, adding new features, and ensuring the best
                user experience.
              </p>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-col>
  </ion-row>
  <div class="powered ion-no-margin ion-margin-horizontal ml-150">
    <p>Powered by Digital Dreams &#xa9; 2025</p>
  </div>
</ion-content>
