.manage-access {
  .people-with-access {
    .header {
      margin-bottom: 0.5rem;
      .people-with-access-title {
        margin: 0;
        //   padding: 0 1.5rem;
        padding-left: 1.5rem;
        font-weight: 500;
        font-size: 16px;
        text-align: left;
        width: 80%;

        span {
          color: var(--ion-color-primary);
        }
      }
    }

    .avatar {
      height: 40px;
      width: 40px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin: 1rem 1rem 1rem 5px;
      p {
        color: var(--ion-background-color);
        margin: 0;
        padding: 0;
      }
    }
    ion-icon[name="trash"] {
      font-size: 20px;
    }
  }
}

ion-item{
  --background: var(--ion-background-color) !important;
}