<ion-content *ngIf="folderDetails">
  <ion-row>
    <ion-col>
      <div class="manage-access ml-150">
        <div class="people-with-access">
          <div
            class="header d-flex ion-align-items-center ion-justify-content-between"
          >
            <p class="people-with-access-title">
              People with access to <span>{{folderDetails?.folderName}}</span>
            </p>
            <ion-icon
              id="add-user"
              class="ion-padding-end"
              name="person-add"
              (click)="addUser()"
            ></ion-icon>
          </div>
          <ion-list>
            <!-- (click)="onSelectingUser(users, index)" -->
            <ion-item
              *ngFor="let user of folderDetails?.sharedTo; let index = index"
            >
              <div class="avatar">
                <p>{{ user?.avatar }}</p>
              </div>
              <ion-label>
                <h2>{{ user?.fullname }}</h2>
                <p>{{user?.username}}</p>
              </ion-label>
              <div class="selected">
                <ion-icon
                  name="trash"
                  color="danger"
                  class="clickable"
                  (click)="showRemoveAlert(user)"
                ></ion-icon>
              </div>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>

<app-share
  [isModalOpen]="isShareModalOpen"
  [selectedFolder]="folderDetails"
  (setModalOpenToFalse)="isShareModalOpen = false"
></app-share>
<!-- (_fetchFolderDe) -->
