<ion-modal class="share-modal" [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Share</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="close()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-searchbar
        show-clear-button="always"
        clear-icon="trash-bin"
        placeholder="Search by username"
        (ionInput)="handleInput($event)"
        [class.animate]="hideSearchBar"
      ></ion-searchbar>
      <ion-list [class.animate-list]="hideSearchBar">
        <ion-item
          *ngFor="let users of filteredUsers; let index = index"
          (click)="onSelectingUser(users, index)"
        >
          <ion-avatar slot="start">
            <img
              alt="Silhouette of a person's head"
              src="https://ionicframework.com/docs/img/demos/avatar.svg"
            />
          </ion-avatar>
          <ion-label>
            <h2>{{ users?.username }}</h2>
            <p>Sales Rep</p>
          </ion-label>
          <div class="selected" *ngIf="users?.isSelected">
            <ion-icon name="checkmark"></ion-icon>
          </div>
        </ion-item>
        <div
          class="no-records-found ion-no-padding ion-no-margin"
          *ngIf="noResultsFound"
        >
          <img src="../../../../assets/images/no-user-found.png" alt="" />
          <p>
            It looks like the person you're searching for isn't on
            <span>SECRETS</span> yet.
          </p>
          <p>Invite them now!</p>
          <div class="share-box">
            <a href="https://secretz.netlify.app" target="_blank"
              >https://secretz.netlify.app</a
            >
            <ion-icon
              [name]="iconName"
              color="dark"
              (click)="onCopy()"
            ></ion-icon>
          </div>
        </div>
      </ion-list>
      <div class="options" *ngIf="hideSearchBar">
        <!-- <ion-item lines="none">
          <p>Manage Access for the Selected User</p>
        </ion-item>
        <ion-radio-group value="readOnly">
          <ion-item>
            <ion-radio value="readOnly">Read Only</ion-radio><br />
          </ion-item>
          <ion-item> <ion-radio value="edit">Edit</ion-radio><br /> </ion-item>
        </ion-radio-group> -->
        <ion-button color="primary" expand="block" *ngIf="hideSearchBar" (click)="share()"
          >Share</ion-button
        >
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
