ion-title {
  font-weight: 500 !important;
}

// ion-content {
//   --overflow: auto;
// }

.share-modal {
  @media (min-width: 900px) {
    --height: 500px !important;
    --width: 600px !important;
  }
}

.no-records-found {
  background-color: var(--white);
  padding: 1rem 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  img {
    width: 200px;
    height: 200px;
  }
  p {
    margin: 0;
    width: 95%;
    color: var(--ion-background-color);
    font-size: 16px;
    span {
      color: var(--ion-color-primary);
    }
  }
  .share-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 80%;
    padding: 1rem;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    a {
      font-size: 16px;
      text-decoration: none;
    }
  }
}

ion-searchbar {
  transform: translateY(0%);
  transition: transform 0.5s ease;
}

.chiplets {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  justify-content: center;
  margin: auto;

  @media (max-width: 576px) {
    width: 95%;
  }
}

.avatar {
  height: 40px;
  width: 40px;
  background-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.07);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 1rem 1rem 1rem 5px;

  // box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  //   rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  p {
    margin: 0;
    padding: 0;
  }
}

.shared-avatar {
  height: 30px;
  width: 30px;
  background-color: #f9f9f9;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color:#000 !important;
}

ion-item {
  cursor: pointer;
}

.options {
  background: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#share {
  // width: 90%;
  // margin: 0.5rem auto 0 auto;
}



.container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

ion-list {
  flex-grow: 1; /* Makes the list take available space */
  overflow-y: auto;
  max-height: 60vh; /* Adjust based on modal size */
  background-color: var(--white);
}

.options {
  position: fixed;
  bottom: 0;
  background: white; /* Ensures visibility */
  padding: 10px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Adds slight shadow for separation */
  box-shadow: rgba(0, 0, 0, 0.5) 0px -3px 8px;
  >p{
    color:var(--ion-color-primary);
    text-align: center;
    margin: 0;
  }
}

ion-chip{
  background: #e4e4e4;
}

ion-icon[name="close"]{
  font-size: 24px;
}