<ion-content class="ion-padding">
  <div class="ml-150">
    <ion-card class="ion-no-padding ion-no-margin">
      <ion-card-header class="ion-no-padding">
        <ion-card-title color="primary">We Value Your Feedback!</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-no-padding">
        <div class="rating-outer">
          <ion-label>Your Rating</ion-label>
          <div class="rating">
            <ion-icon
              *ngFor="let star of stars; let i = index"
              name="star"
              [color]="i < feedback.rating ? 'warning' : 'medium'"
              (click)="setRating(i + 1)"
            >
            </ion-icon>
          </div>
        </div>
        <ion-textarea
          autoGrow="true"
          placeholder="Enter your feedback here"
          [(ngModel)]="feedback.message"
        ></ion-textarea>
      </ion-card-content>
    </ion-card>
    <ion-button expand="block" (click)="submitFeedback()">Submit</ion-button>
  </div>
</ion-content>
