.rating {
  display: flex;
  ion-icon {
    cursor: pointer;
    margin-right: 3px;
    font-size: 24px;
    transition: transform 0.2s ease-in-out;
  }
  ion-icon:hover {
    transform: scale(1.2);
  }
}

ion-card-content{
    margin: 1rem 0;
    .rating-outer{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    ion-label{
        color:#fff;
    }
}

ion-textarea{
    margin-top: 1rem;
    color:#Fff;
    border-bottom: 1px solid #fff;
}

ion-card{
  --background:transparent;
}