<ion-modal
  [isOpen]="isModalOpen"
  [initialBreakpoint]="1"
  [breakpoints]="[0, 1]"
  (willDismiss)="willDismiss()"
>
  <ng-template>
    <div class="block">
      <h1>Sort By</h1>
      <div
        class="row clickable"
        *ngFor="let sort of sortingList; let index = index"
        (click)="onSortingSelection(sort, index)"
        [class.active]="index == activeSortingIndex"
      >
        <div class="left">
          <ion-icon
            [name]="index == activeSortingIndex ? sort.icon_active : sort.icon"
          ></ion-icon>
          <p>{{ sort.name }}</p>
          <!-- <ion-icon
            name="information-circle-outline"
            *ngIf="!sort?.sort_criteria"
          ></ion-icon> -->
        </div>
        <div class="right" [class.active]="index == activeSortingIndex">
          <div
            class="sort-criteria"
            *ngIf="sort?.sort_criteria"
            (click)="onSortCriteria(index)"
          >
            <p>
              {{
                sort.sort_criteria === "ascending"
                  ? sort.ascending_text
                  : sort.descending_text
              }}
            </p>
            <ion-icon
              [name]="
                sort.sort_criteria === 'ascending'
                  ? 'chevron-up-outline'
                  : 'chevron-down-outline'
              "
            ></ion-icon>
          </div>
        </div>
      </div>

      <ion-button expand="block" class="w-100" (click)="onSortSelection()"
        >Done</ion-button
      >
    </div>
  </ng-template>
</ion-modal>
