.alert-box {
  background-color: var(--ion-color-danger);
  padding: 10px;
  color: var(--white);
  margin: 0.5rem 0;
  border-radius: 8px;
  .header {
    display: flex;
    align-items: center;
    ion-icon {
      font-size: 20px;
    }
    p {
      margin: 0;
      padding: 0 5px;
      margin-right: auto;
      font-size: 16px;
    }
  }
  .content {
    margin-top: 5px;
    p {
      margin: 0;
      padding: 0;
    }
  }
}

:host ::ng-deep span {
  border-bottom: 1px dotted #fff;
  cursor: pointer;
}
