<ion-header [translucent]="true">
  <ion-toolbar
    class="d-flex ion-align-items-center ion-justify-content-center"
    [class.h-60]="
      heroText !== 'Dashboard' && heroText !== 'Login' && heroText !== ''
    "
  >
    <ion-buttons
      slot="start"
      *ngIf="
        heroText !== 'Dashboard' && heroText !== 'Login' && heroText !== ''
      "
    >
      <ion-icon
        name="arrow-back"
        class="clickable"
        id="back"
        (click)="goBack()"
      ></ion-icon>
    </ion-buttons>
    <ion-img
      *ngIf="
        heroText === 'Dashboard' || heroText === 'Login' || heroText === ''
      "
      src="../../../../assets/logo/SECRETES.png"
      id="logo"
      (click)="GoToDashboard()"
    ></ion-img>
    <ion-title
      *ngIf="
        heroText !== 'Dashboard' && heroText !== 'Login' && heroText !== ''
      "
      >{{ heroText }}</ion-title
    >

    <ion-buttons slot="end" *ngIf="heroText === 'Dashboard'" (click)="logout()">
      <ion-icon name="log-out-outline" id="logout"></ion-icon>
    </ion-buttons>
    <ion-progress-bar
      *ngIf="isLoading | async"
      type="indeterminate"
    ></ion-progress-bar>
  </ion-toolbar>
</ion-header>
