#logo {
  width: 120px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

ion-menu-button {
  display: block;
}

ion-toolbar {
  position: relative;

  #back {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  }
  ion-icon[name="notifications"] {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-70%);
    font-size: 26px;
  }
  ion-title {
    font-size: 18px;
    font-weight: 500;
  }
}

.h-60 {
  height: 60px;
}

#logout {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-70%);
  font-size: 25px;
}

#add-user {
  font-size: 20px;
}

// ion-icon[name="notifications"] {
//   font-size: 28px;
//   margin-top: -8px;
// }
.active {
  position: relative;
}
.active::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: var(--ion-color-primary);
  top: 3px;
  right: 2px;
  border-radius: 50%;
  border: 2px solid var(--ion-background-color);
}
